flowsICSControlNodeRed.json
[{"id":"d3f47adc.cae308","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"36f11493.55142c","type":"tab","label":"Sensores Chart/Gauge","disabled":false,"info":""},{"id":"1e4a83da.4507fc","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"ea1eeb33.372448","type":"tab","label":"Tabela dinâmica","disabled":false,"info":""},{"id":"94850da5.a52cf","type":"tab","label":"Welcome flow","disabled":false,"info":""},{"id":"4e3e6cd6.398944","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"98f1c462.0da378","type":"tab","label":"Tree Structure","disabled":false,"info":""},{"id":"a18846b8.272c08","type":"tab","label":"Send IR","disabled":false,"info":""},{"id":"b6c4fe57.2d9a9","type":"tab","label":"Lógica ics->(set:temp,veloc)","disabled":false,"info":""},{"id":"4f988cd7.cec914","type":"tab","label":"Set Point","disabled":false,"info":""},{"id":"760f69fa.94f578","type":"tab","label":"Button multi state","disabled":false,"info":""},{"id":"54f33258.a06dbc","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"20c5495a.a69096","type":"tab","label":"Teste esp8266 modbus ip","disabled":false,"info":""},{"id":"bcb90774.89f708","type":"subflow","name":"Persistence Helper","info":"","in":[{"x":45.5,"y":85,"wires":[{"id":"eada3ab7.b6b698"}]}],"out":[{"x":749.5,"y":53,"wires":[{"id":"2110104b.0accc","port":0}]},{"x":755,"y":169,"wires":[{"id":"8b27a5c7.5884a8","port":0}]}]},{"id":"822ecd93.83d82","type":"mqtt-broker","z":"","name":"local","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9339c893.815c68","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#003448","baseFont":"Arial Black,Arial Black,Gadget,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Boneco de neve","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"219711fe.fe32de","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"85ad1bfe.7354e8","type":"ui_tab","z":"","name":"Setpoint / Status","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"34ff77b0.26dd98","type":"ui_group","z":"","name":"Status Sala 1","tab":"85ad1bfe.7354e8","order":5,"disp":true,"width":6,"collapse":false},{"id":"a633c82f.1dc5e8","type":"mqtt-broker","z":"","name":"local","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"912bae08.3d85e","type":"ui_group","z":"","name":"Grupo 1","tab":"","disp":true,"width":"6","collapse":false},{"id":"e26eae86.a5497","type":"ui_group","z":"","name":"Grupo 2","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"b5c012cf.9af28","type":"ui_spacer","name":"spacer","group":"912bae08.3d85e","order":1,"width":1,"height":1},{"id":"707b7c50.3b5c74","type":"ui_spacer","name":"spacer","group":"e26eae86.a5497","order":2,"width":1,"height":1},{"id":"d7d4bfda.c8dec","type":"ui_group","z":"","name":"Status Sala 2","tab":"85ad1bfe.7354e8","order":6,"disp":true,"width":6,"collapse":false},{"id":"3be78a54.1fb876","type":"ui_tab","z":"","name":"Gráficos / Histórico","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"c98422b2.87c7e","type":"ui_group","z":"","name":"Status - Gerac","tab":"85ad1bfe.7354e8","order":4,"disp":true,"width":"6","collapse":false},{"id":"8eb0d2aa.02b3f","type":"ui_group","z":"","name":"Gerac","tab":"3be78a54.1fb876","order":1,"disp":true,"width":"6","collapse":false},{"id":"77e984eb.f9433c","type":"ui_group","z":"","name":"Sala 1","tab":"3be78a54.1fb876","order":2,"disp":true,"width":"6","collapse":false},{"id":"be1fc28e.cfb13","type":"ui_group","z":"","name":"Sala 2","tab":"3be78a54.1fb876","order":3,"disp":true,"width":"6","collapse":false},{"id":"5a6a5e26.4fc5f","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"1d65ee24.927012","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"67569d08.9642f4","type":"ui_group","z":"","name":"Resumo","tab":"f55caa84.0c8988","order":2,"disp":true,"width":"7","collapse":false},{"id":"cb2300ad.63c32","type":"ui_group","name":"Group 2","tab":"f55caa84.0c8988","order":2,"disp":true,"width":6},{"id":"c68d3cd6.2b61a","type":"ui_group","name":"Group 1","tab":"f55caa84.0c8988","order":1,"disp":true,"width":6},{"id":"71d13ef9.8c378","type":"ui_tab","z":"","name":"Rede Mesh","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"f55caa84.0c8988","type":"ui_tab","z":"","name":"Tab test","icon":"dashboard","order":9,"disabled":true,"hidden":true},{"id":"e9ed3fd1.0d35b","type":"ui_group","z":"","name":"Memória (bytes)","tab":"71d13ef9.8c378","order":2,"disp":true,"width":"6","collapse":true},{"id":"5f006973.1a13c8","type":"ui_group","z":"","name":"Sinal AP (dBm)","tab":"71d13ef9.8c378","order":3,"disp":true,"width":"6","collapse":false},{"id":"b78222ad.c2cf6","type":"ui_group","z":"","name":"map","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"485fb269.af437c","type":"ui_group","z":"","name":"map","tab":"","order":2,"disp":true,"width":"16","collapse":false},{"id":"48788a26.415bc4","type":"ui_group","z":"","name":"Column 2","tab":"3bf6f946.b786e6","order":2,"disp":false,"width":"12","collapse":false},{"id":"3bf6f946.b786e6","type":"ui_tab","z":"","name":"Feeder test","icon":"dashboard","order":10,"disabled":true,"hidden":true},{"id":"f5560aa4.5f6b78","type":"ui_group","z":"","name":"Group 2","tab":null,"order":2,"disp":true,"width":"6","collapse":false},{"id":"30b423d2.f3369c","type":"ui_tab","z":"94850da5.a52cf","name":"Welcome","icon":"dashboard","order":11,"disabled":true,"hidden":true},{"id":"9e799de7.b3d1c","type":"ui_group","z":"","name":"Josh plants gauges","tab":"","order":1,"disp":true,"width":"12","collapse":false},{"id":"c57ea6ad.bc6b48","type":"ui_group","z":"","name":"mapiiiiiiiiiii","tab":"736886bb.93cbe8","order":2,"disp":true,"width":"6","collapse":false},{"id":"736886bb.93cbe8","type":"ui_tab","z":"","name":"Map","icon":"dashboard","order":8,"disabled":true,"hidden":true},{"id":"a32a6365.a76c7","type":"ui_group","z":"","name":"mapSolution","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"a892b1c1.00e6f","type":"ui_group","z":"","name":"map","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"79b637e3.6296a8","type":"ui_group","z":"","name":"map","tab":"5d4baa88.7a9c04","order":2,"disp":true,"width":10,"collapse":false},{"id":"5d4baa88.7a9c04","type":"ui_tab","z":"","name":"Layout","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"d46b7021.d7485","type":"ui_group","z":"","name":"test inject","tab":"bfc1e185.12777","order":2,"disp":true,"width":"10","collapse":false},{"id":"bfc1e185.12777","type":"ui_tab","z":"","name":"New Tab","icon":"dashboard","order":12,"disabled":true,"hidden":true},{"id":"f1372ba7.330248","type":"ui_group","z":"","name":"new map","tab":"bfc1e185.12777","order":1,"disp":true,"width":"6","collapse":false},{"id":"c6909a90.28c238","type":"influxdb","z":"","hostname":"icsifsc.ml","port":"80","protocol":"http","database":"teste","name":"influx_fernando","usetls":false,"tls":""},{"id":"3f873d3.a8de9c2","type":"ui_group","z":"","name":"map","tab":"666ca4c5.cdaa4c","order":2,"disp":true,"width":"6","collapse":false},{"id":"666ca4c5.cdaa4c","type":"ui_tab","z":"","name":"Layoutiiiiiiiiiiiiiiii","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"8909f3e9.56f42","type":"ui_group","z":"","name":"Gerac","tab":"2be57b99.2662c4","order":1,"disp":true,"width":"6","collapse":false},{"id":"6ec5dfaa.f6d84","type":"ui_group","z":"","name":"Teste dropdow","tab":"22c9a8d0.af9318","disp":true,"width":"6","collapse":false},{"id":"2be57b99.2662c4","type":"ui_tab","z":"","name":"Sensor Gauge","icon":"dashboard","order":5,"disabled":true,"hidden":true},{"id":"22c9a8d0.af9318","type":"ui_tab","z":"","name":"Tab test","icon":"dashboard","order":3,"disabled":true,"hidden":true},{"id":"da398c46.00687","type":"ui_group","z":"","name":"Configurar Setpoint e modo de operação","tab":"85ad1bfe.7354e8","order":1,"disp":true,"width":"18","collapse":false},{"id":"348a7b20.65c4f4","type":"ui_group","z":"","name":"T1","tab":"2e0218cf.d4ad58","disp":true,"width":"6","collapse":false},{"id":"2e0218cf.d4ad58","type":"ui_tab","z":"","name":"LAB","icon":"dashboard"},{"id":"c564f13.409021","type":"ui_group","z":"","name":"S1","tab":"f11b4fad.f4fba","disp":false,"width":"6","collapse":false},{"id":"f11b4fad.f4fba","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"1999f59b.0773ca","type":"ui_group","z":"760f69fa.94f578","name":"Click","tab":"cc0e4e4b.96324","order":1,"disp":true,"width":"5"},{"id":"cc0e4e4b.96324","type":"ui_tab","z":"760f69fa.94f578","name":"Home","icon":"link","order":1},{"id":"845635fd.b6b2a8","type":"ui_group","z":"","name":"Default","tab":"860437de.a65738","order":3,"disp":true,"width":"6","collapse":false},{"id":"ca9c71b4.b1c5e","type":"ui_group","z":"","name":"test","tab":"b595cc30.b5d1a","order":3,"disp":true,"width":"7","collapse":true},{"id":"b595cc30.b5d1a","type":"ui_tab","z":"","name":"test","icon":"fa-television","order":2,"disabled":false,"hidden":true},{"id":"2966c38b.c7287c","type":"ui_spacer","name":"spacer","group":"da398c46.00687","order":2,"width":8,"height":1},{"id":"d45914a5.c8d648","type":"ui_spacer","name":"spacer","group":"da398c46.00687","order":4,"width":1,"height":1},{"id":"c8fc3a6b.be2b98","type":"ui_spacer","name":"spacer","group":"da398c46.00687","order":6,"width":1,"height":1},{"id":"160f0816.3e4268","type":"ui_spacer","name":"spacer","group":"da398c46.00687","order":9,"width":5,"height":1},{"id":"3e3380e9.cbd7","type":"modbustcp-server","z":"","name":"nameTest","host":"127.0.0.1","port":"502","unit_id":"1","reconnecttimeout":""},{"id":"7644f6c1.8771f8","type":"modbustcp-server","z":"","name":"","host":"192.168.43.64","port":"502","unit_id":"1","reconnecttimeout":"5"},{"id":"c8f57971.2cc528","type":"modbus-client","z":"","name":"name esp modbus","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":true,"queueLogEnabled":true,"tcpHost":"192.168.43.64","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"2000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"10dda0ad.b1b39f","type":"inject","z":"d3f47adc.cae308","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":300,"wires":[["fa03cac.2858038"]]},{"id":"fa03cac.2858038","type":"debug","z":"d3f47adc.cae308","name":"debug to/#","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":300,"wires":[]},{"id":"d1b1b4b3.9ef7b8","type":"debug","z":"d3f47adc.cae308","name":"debug getNodes","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":480,"y":120,"wires":[]},{"id":"61c525a3.638b0c","type":"mqtt out","z":"d3f47adc.cae308","name":"","topic":"painlessMesh/to/gateway","qos":"","retain":"","broker":"822ecd93.83d82","x":350,"y":160,"wires":[]},{"id":"2479724a.2ff43e","type":"mqtt in","z":"d3f47adc.cae308","name":"","topic":"painlessMesh/to/#","qos":"2","datatype":"auto","broker":"822ecd93.83d82","x":490,"y":220,"wires":[["fa03cac.2858038"]]},{"id":"9f64a99.8a88f58","type":"inject","z":"d3f47adc.cae308","name":"","topic":"testeTopic","payload":"getNodes","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":80,"wires":[["61c525a3.638b0c","d1b1b4b3.9ef7b8"]]},{"id":"b65d6b37.ee2cd8","type":"inject","z":"d3f47adc.cae308","name":"","topic":"","payload":"meshStruct","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":240,"wires":[["61c525a3.638b0c"]]},{"id":"879a3c70.daea","type":"mqtt in","z":"d3f47adc.cae308","name":"","topic":"sala1/temp","qos":"2","datatype":"auto","broker":"822ecd93.83d82","x":460,"y":420,"wires":[[]]},{"id":"1ab17881.339677","type":"mosca in","z":"d3f47adc.cae308","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":140,"y":480,"wires":[[]]},{"id":"4f5ef90c.e40b98","type":"mqtt in","z":"36f11493.55142c","name":"","topic":"painlessMesh/from/#","qos":"2","datatype":"auto","broker":"822ecd93.83d82","x":90,"y":60,"wires":[["afa3d6f5.155eb8","49aff58a.d73a7c"]]},{"id":"74beada7.3c3384","type":"ui_gauge","z":"36f11493.55142c","name":"velocGaugeGerac","group":"c98422b2.87c7e","order":4,"width":3,"height":3,"gtype":"gage","title":"Velocidade do ar","label":"m/s","format":"{{value}}","min":0,"max":"2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":100,"wires":[]},{"id":"52b52d9e.14ab84","type":"ui_gauge","z":"36f11493.55142c","name":"tempGaugeSala1","group":"34ff77b0.26dd98","order":3,"width":3,"height":3,"gtype":"gage","title":"Temperatura","label":"°C","format":"{{value}}","min":0,"max":"35","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":340,"wires":[]},{"id":"9fd57574.1df738","type":"ui_gauge","z":"36f11493.55142c","name":"tempGaugeGerac","group":"c98422b2.87c7e","order":3,"width":3,"height":3,"gtype":"gage","title":"Temperatura","label":"°C","format":"{{value}}","min":0,"max":"35","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":20,"wires":[]},{"id":"83b9589e.2f1468","type":"ui_gauge","z":"36f11493.55142c","name":"velocGaugeSala1","group":"34ff77b0.26dd98","order":4,"width":3,"height":3,"gtype":"gage","title":"Velocidade do ar","label":"m/s","format":"{{value}}","min":0,"max":"2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":420,"wires":[]},{"id":"291c766b.b78eaa","type":"ui_gauge","z":"36f11493.55142c","name":"tempGaugeSala2","group":"d7d4bfda.c8dec","order":3,"width":3,"height":3,"gtype":"gage","title":"Temperatura","label":"°C","format":"{{value}}","min":0,"max":"35","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":660,"wires":[]},{"id":"5583adfe.f828f4","type":"ui_gauge","z":"36f11493.55142c","name":"velocGaugeSala2","group":"d7d4bfda.c8dec","order":4,"width":3,"height":3,"gtype":"gage","title":"Velocidade do ar","label":"m/s","format":"{{value}}","min":0,"max":"2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"1","seg2":"","x":670,"y":740,"wires":[]},{"id":"ec4b53ad.6551","type":"function","z":"36f11493.55142c","name":"Extract values Gerac","func":"//temp = global.get(\"gtemp\");\n//veloc = global.get(\"gveloc\");\n//msg.payload.temp = temp;\n//msg.payload.veloc = veloc;\n\n//msg.payload = global.get(\"gtemp\");\n\n a = 569.76047;\n b = 2.371385;\n c = -73.0640184;\n d = -0.04410662;\n e = 3.092796;\n f = -0.15052;\n g = 0.00004456901;\n h = -0.0432946;\n i = 0.002343330;\n j = 0.0016435087;\n\nfunction calculoics(temperatura, velocidade){\n    \n    if(temperatura <21.95) temperatura = 21.95;\n    if(temperatura >25.04) temperatura = 25.04;\n    if(velocidade >1) velocidade = 1;\n    if(velocidade <0.06) velocidade = 0.06;\n      \n    temp_quadrado = Math.pow(temperatura,2.0);\n    vel_quadrado = Math.pow(velocidade,2.0);\n    ics = 0.0;\n    \n    if(velocidade<0.0){\n          ics = a +  (c*temperatura) +  (e*temp_quadrado) +  (h*Math.pow(temperatura,3));\n    }else{\n          ics = a + (b/velocidade) + (c*temperatura) + (d/vel_quadrado)+ (e*temp_quadrado) + ((f*temperatura)/velocidade) + (g/Math.pow(velocidade,3)) + (h*Math.pow(temperatura,3)) + ((i*temp_quadrado)/velocidade)+((j*temperatura)/vel_quadrado);\n    }\n    return ics;\n}\n\nmsg.payload.ics = calculoics(msg.payload.temp,msg.payload.veloc);\n\n//return msg;\n\nreturn [\n    {payload: msg.payload.temp}, \n    {payload: msg.payload.veloc/10},\n    {payload: msg.payload.ics},\n    {payload: msg.payload.memory},\n    {payload: msg.payload.RSSI}\n];","outputs":5,"noerr":0,"x":380,"y":140,"wires":[["9fd57574.1df738","6e53f2dd.f2dfdc"],["74beada7.3c3384","3254a2db.22429e"],["e9297f17.dc773","45d38163.477fc"],["7ec06d7.9465094"],["29ae28cb.8e5f68"]]},{"id":"184f335a.1965bd","type":"json","z":"36f11493.55142c","name":"","property":"payload","action":"","pretty":false,"x":230,"y":240,"wires":[["ec4b53ad.6551"]]},{"id":"afa3d6f5.155eb8","type":"switch","z":"36f11493.55142c","name":"switchhhhhh","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"rootNode","vt":"str"},{"t":"cont","v":"sala1","vt":"str"},{"t":"cont","v":"sala2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":130,"y":360,"wires":[["184f335a.1965bd"],["6a6056f0.a3ec48"],["4a1be174.e1a8b"]]},{"id":"79612d70.731fd4","type":"function","z":"36f11493.55142c","name":"Extract values Sala 1","func":"//temp = global.get(\"gtemp\");\n//veloc = global.get(\"gveloc\");\n//msg.payload.temp = temp;\n//msg.payload.veloc = veloc;\n\n//msg.payload = global.get(\"gtemp\");\n\n a = 569.76047;\n b = 2.371385;\n c = -73.0640184;\n d = -0.04410662;\n e = 3.092796;\n f = -0.15052;\n g = 0.00004456901;\n h = -0.0432946;\n i = 0.002343330;\n j = 0.0016435087;\n\nfunction calculoics(temperatura, velocidade){\n    \n    if(temperatura <21.95) temperatura = 21.95;\n    if(temperatura >25.04) temperatura = 25.04;\n    if(velocidade >1) velocidade = 1;\n    if(velocidade <0.06) velocidade = 0.06;\n      \n    temp_quadrado = Math.pow(temperatura,2.0);\n    vel_quadrado = Math.pow(velocidade,2.0);\n    ics = 0.0;\n    \n    if(velocidade<0.0){\n          ics = a +  (c*temperatura) +  (e*temp_quadrado) +  (h*Math.pow(temperatura,3));\n    }else{\n          ics = a + (b/velocidade) + (c*temperatura) + (d/vel_quadrado)+ (e*temp_quadrado) + ((f*temperatura)/velocidade) + (g/Math.pow(velocidade,3)) + (h*Math.pow(temperatura,3)) + ((i*temp_quadrado)/velocidade)+((j*temperatura)/vel_quadrado);\n    }\n    return ics;\n}\n\nmsg.payload.ics = calculoics(msg.payload.temp,msg.payload.veloc);\n\n//return msg;\n\nreturn [\n    {payload: msg.payload.temp}, \n    {payload: msg.payload.veloc/10},\n    {payload: msg.payload.memory},\n    {payload: msg.payload.RSSI},\n    {payload: msg.payload.ics}\n];","outputs":5,"noerr":0,"x":340,"y":460,"wires":[["52b52d9e.14ab84","5a438cae.bbc854"],["83b9589e.2f1468","f9162de6.cd919"],["fdab21a5.26749"],["eaca9214.9ddb7"],["44e67821.2d8078","2dee9a65.412926"]]},{"id":"6a6056f0.a3ec48","type":"json","z":"36f11493.55142c","name":"","property":"payload","action":"","pretty":false,"x":290,"y":360,"wires":[["79612d70.731fd4"]]},{"id":"ae929f7b.79485","type":"function","z":"36f11493.55142c","name":"Extract values Sala 2","func":"//temp = global.get(\"gtemp\");\n//veloc = global.get(\"gveloc\");\n//msg.payload.temp = temp;\n//msg.payload.veloc = veloc;\n\n//msg.payload = global.get(\"gtemp\");\n\n a = 569.76047;\n b = 2.371385;\n c = -73.0640184;\n d = -0.04410662;\n e = 3.092796;\n f = -0.15052;\n g = 0.00004456901;\n h = -0.0432946;\n i = 0.002343330;\n j = 0.0016435087;\n\nfunction calculoics(temperatura, velocidade){\n    \n    if(temperatura <21.95) temperatura = 21.95;\n    if(temperatura >25.04) temperatura = 25.04;\n    if(velocidade >1) velocidade = 1;\n    if(velocidade <0.06) velocidade = 0.06;\n      \n    temp_quadrado = Math.pow(temperatura,2.0);\n    vel_quadrado = Math.pow(velocidade,2.0);\n    ics = 0.0;\n    \n    if(velocidade<0.0){\n          ics = a +  (c*temperatura) +  (e*temp_quadrado) +  (h*Math.pow(temperatura,3));\n    }else{\n          ics = a + (b/velocidade) + (c*temperatura) + (d/vel_quadrado)+ (e*temp_quadrado) + ((f*temperatura)/velocidade) + (g/Math.pow(velocidade,3)) + (h*Math.pow(temperatura,3)) + ((i*temp_quadrado)/velocidade)+((j*temperatura)/vel_quadrado);\n    }\n    return ics;\n}\n\nmsg.payload.ics = calculoics(msg.payload.temp,msg.payload.veloc);\n\n//return msg;\n\nreturn [\n    {payload: msg.payload.temp}, \n    {payload: msg.payload.veloc/10},\n    {payload: msg.payload.memory},\n    {payload: msg.payload.RSSI},\n    {payload: msg.payload.ics}\n];","outputs":5,"noerr":0,"x":180,"y":720,"wires":[["291c766b.b78eaa","aa5294a7.91e698"],["5583adfe.f828f4","81fdf733.38c698"],["6c16af9f.9ab82"],["bed77c45.2443c"],["94c9431d.563cf","53ca2793.d0d048"]]},{"id":"4a1be174.e1a8b","type":"json","z":"36f11493.55142c","name":"","property":"payload","action":"","pretty":false,"x":130,"y":480,"wires":[["ae929f7b.79485"]]},{"id":"6e53f2dd.f2dfdc","type":"ui_chart","z":"36f11493.55142c","name":"tempChartGerac","group":"8eb0d2aa.02b3f","order":1,"width":"0","height":"0","label":"Temperatura","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":620,"y":60,"wires":[[]]},{"id":"3254a2db.22429e","type":"ui_chart","z":"36f11493.55142c","name":"velocChartGerac","group":"8eb0d2aa.02b3f","order":2,"width":0,"height":0,"label":"Velocidade do ar","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":650,"y":140,"wires":[[]]},{"id":"5a438cae.bbc854","type":"ui_chart","z":"36f11493.55142c","name":"tempChartSala1","group":"77e984eb.f9433c","order":1,"width":0,"height":0,"label":"Temperatura","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":580,"y":380,"wires":[[]]},{"id":"f9162de6.cd919","type":"ui_chart","z":"36f11493.55142c","name":"velocChartSala1","group":"77e984eb.f9433c","order":2,"width":0,"height":0,"label":"Velocidade do ar","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":640,"y":460,"wires":[[]]},{"id":"aa5294a7.91e698","type":"ui_chart","z":"36f11493.55142c","name":"tempChartSala2","group":"be1fc28e.cfb13","order":1,"width":0,"height":0,"label":"Temperatura","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":580,"y":700,"wires":[[]]},{"id":"81fdf733.38c698","type":"ui_chart","z":"36f11493.55142c","name":"velocChartSala2","group":"be1fc28e.cfb13","order":2,"width":0,"height":0,"label":"Velocidade do ar","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":660,"y":780,"wires":[[]]},{"id":"29bb8778.8fc268","type":"inject","z":"36f11493.55142c","name":"sala1","topic":"","payload":"\"Id\":{\"nameId\":\"sala1\",\"nId\":1234},\"data\":{\"temp\":25,\"veloc\":1}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":900,"wires":[[]]},{"id":"9c5c8702.774e18","type":"inject","z":"36f11493.55142c","name":"inputGerac","topic":"topicccc","payload":"{\"nodeId\":1234,\"nameId\":\"gerac\",\"temp\":25,\"veloc\":1,\"IRType\":15}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":860,"wires":[[]]},{"id":"79f035fb.81d7bc","type":"inject","z":"1e4a83da.4507fc","name":"Go","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":105,"y":85,"wires":[["8d023a37.456c48"]]},{"id":"8d023a37.456c48","type":"function","z":"1e4a83da.4507fc","name":"build array (2)","func":"var arr =[{\"nameId\":\"gerac\",\"nId\":\"1234\",\"temp\":\"25\",\"veloc\":\"1\"},{\"nameId\":\"sala1\",\"nId\":\"456\",\"temp\":\"26\",\"veloc\":\"1\"},{\"nameId\":\"sala2\",\"nId\":\"1234\",\"temp\":\"25\",\"veloc\":\"1.5\"}];\nmsg.payload = arr;\nreturn msg;","outputs":1,"noerr":0,"x":148,"y":160,"wires":[["1198963b.8fe05a"]]},{"id":"81ca1630.e86878","type":"debug","z":"1e4a83da.4507fc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":524,"y":159,"wires":[]},{"id":"1198963b.8fe05a","type":"ui_template","z":"1e4a83da.4507fc","group":"67569d08.9642f4","name":"Two dimension array table","order":1,"width":7,"height":6,"format":"<table id=\"table\" border=\"5\">\n <tr>\n <th>Ambiente</th> \n <th>NodeId</th>\n <th>Temperatura</th>\n <th>Velocidade</th>\n </tr>\n <tbody>\n <tr ng-repeat=\"row in msg.payload\">\n <td ng-repeat=\"item in row\" >{{item}}</td>\n </tr>\n </tbody>\n</table>\n\n","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":336,"y":87,"wires":[["81ca1630.e86878"]]},{"id":"80aeb622.784d48","type":"inject","z":"1e4a83da.4507fc","name":"","topic":"","payload":"[{\"Name\":\"Kazuhito Yokoi\",\"Age\":\"35\",\"Favourite Color\":\"red\",\"Date Of Birth\":\"12/09/1983\"},{\"Name\":\"Oli Bob\",\"Age\":\"12\",\"Favourite Color\":\"red\",\"Date Of Birth\":\"12/08/2017\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":121,"y":307,"wires":[["35172a43.826da6"]]},{"id":"94e2540c.1396f8","type":"comment","z":"1e4a83da.4507fc","name":"Normal table","info":"","x":121,"y":267,"wires":[]},{"id":"35172a43.826da6","type":"debug","z":"1e4a83da.4507fc","name":"debug table","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":354,"y":364,"wires":[]},{"id":"e3371a85.a13158","type":"ui_list","z":"1e4a83da.4507fc","group":"cb2300ad.63c32","name":"testListtttt","order":0,"width":0,"height":0,"lineType":"one","actionType":"none","allowHTML":true,"x":346,"y":431,"wires":[[]]},{"id":"5b9b351c.1b42ac","type":"ui_table","z":"1e4a83da.4507fc","group":"c68d3cd6.2b61a","name":"","order":1,"width":"0","height":"0","columns":[],"x":350.5,"y":296,"wires":[]},{"id":"a449383a.264e88","type":"inject","z":"1e4a83da.4507fc","name":"","topic":"","payload":"[{\"nameId\":\"gerac\",\"nId\":\"1234\",\"temp\":\"25\",\"veloc\":\"1\"},{\"nameId\":\"sala1\",\"nId\":\"456\",\"temp\":\"26\",\"veloc\":\"1\"},{\"nameId\":\"sala2\",\"nId\":\"1234\",\"temp\":\"25\",\"veloc\":\"1.5\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":125.5,"y":381,"wires":[["e3371a85.a13158","35172a43.826da6","5b9b351c.1b42ac"]]},{"id":"1dd6ee77.a2aff2","type":"mqtt in","z":"d3f47adc.cae308","name":"","topic":"painlessMesh/from/#","qos":"2","datatype":"auto","broker":"822ecd93.83d82","x":450,"y":340,"wires":[[]]},{"id":"7ec06d7.9465094","type":"ui_chart","z":"36f11493.55142c","name":"memChartGerac","group":"e9ed3fd1.0d35b","order":1,"width":0,"height":0,"label":"Gerac","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":660,"y":260,"wires":[[]]},{"id":"fdab21a5.26749","type":"ui_chart","z":"36f11493.55142c","name":"memChartSala1","group":"e9ed3fd1.0d35b","order":7,"width":0,"height":0,"label":"Sala 1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":600,"y":500,"wires":[[]]},{"id":"6c16af9f.9ab82","type":"ui_chart","z":"36f11493.55142c","name":"memChartSala2","group":"e9ed3fd1.0d35b","order":13,"width":0,"height":0,"label":"Sala 2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":480,"y":800,"wires":[[]]},{"id":"29ae28cb.8e5f68","type":"ui_chart","z":"36f11493.55142c","name":"sinalChartGerac","group":"5f006973.1a13c8","order":1,"width":0,"height":0,"label":"Gerac","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":650,"y":300,"wires":[[]]},{"id":"eaca9214.9ddb7","type":"ui_chart","z":"36f11493.55142c","name":"sinalChartSala1","group":"5f006973.1a13c8","order":2,"width":0,"height":0,"label":"Sala 1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":600,"y":540,"wires":[[]]},{"id":"bed77c45.2443c","type":"ui_chart","z":"36f11493.55142c","name":"sinalChartSala2","group":"5f006973.1a13c8","order":3,"width":0,"height":0,"label":"Sala 2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":480,"y":840,"wires":[[]]},{"id":"2110104b.0accc","type":"change","z":"bcb90774.89f708","name":"","rules":[{"t":"set","p":"action","pt":"msg","to":"restore","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":589.5,"y":53,"wires":[[]]},{"id":"eada3ab7.b6b698","type":"json","z":"bcb90774.89f708","name":"","x":175.5,"y":85,"wires":[["2110104b.0accc"]]},{"id":"b368e6f1.91eab8","type":"catch","z":"bcb90774.89f708","name":"","scope":["eada3ab7.b6b698"],"x":183.5,"y":117,"wires":[["db3ea105.3d64c"]]},{"id":"db3ea105.3d64c","type":"change","z":"bcb90774.89f708","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":354.5,"y":116,"wires":[["2110104b.0accc"]]},{"id":"8b27a5c7.5884a8","type":"inject","z":"bcb90774.89f708","name":"Trigger restore","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":618.5,"y":169,"wires":[[]]},{"id":"d087c87c.2aad28","type":"inject","z":"ea1eeb33.372448","name":"Go","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":90,"y":100,"wires":[["dddd80c9.86eef"]]},{"id":"dddd80c9.86eef","type":"function","z":"ea1eeb33.372448","name":"build array (2) random","func":"var x = [];\nvar companyStock = flow.get(\"companyData\") || x;\nvar arrayCompany = [\"Apple\",\"AT&T\",\"Berkshire Hathaway\",\"BP\",\"China National Petroleum\",\"CVS Health\",\"Daimler\",\"Exor\",\"Exxon Mobil\",\"General Motors\",\"Glencore\",\"McKesson\",\"Royal Dutch Shell\",\"Samsung Electronics\",\"Sinopec Group\",\"State Grid\",\"Toyota\",\"United Health\",\"Volkswagen Group\",\"Walmart\"];\nvar ixCompany = Math.floor(Math.random() * (20));\nvar stockPrice = Math.floor(Math.random() * (1000))/10;\nvar latest = [arrayCompany[ixCompany], stockPrice];\ncompanyStock.unshift(latest);\nif (companyStock.length > 10) {companyStock.pop();}\nflow.set(\"companyData\",companyStock);\nmsg.payload = companyStock;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":100,"wires":[["9c49a8dc.f0e908"]]},{"id":"2fd2c845.e13a08","type":"debug","z":"ea1eeb33.372448","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":770,"y":100,"wires":[]},{"id":"9c49a8dc.f0e908","type":"ui_template","z":"ea1eeb33.372448","group":"48788a26.415bc4","name":"Two dimension array table","order":1,"width":"12","height":"10","format":"\n<table id=\"table\" border=\"1\">\n <tr>\n <th>Company</th> \n <th>Latest Price</th>\n </tr>\n <tbody>\n <tr ng-repeat=\"row in msg.payload\">\n <td ng-repeat=\"item in row\" >{{item}}</td>\n </tr>\n </tbody>\n</table>\n\n","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":540,"y":100,"wires":[["2fd2c845.e13a08"]]},{"id":"75c93332.f036dc","type":"debug","z":"94850da5.a52cf","name":"","active":true,"console":"false","complete":"false","x":510,"y":220,"wires":[]},{"id":"953131a1.02d69","type":"inject","z":"94850da5.a52cf","name":"","topic":"","payload":"welcome","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":200,"wires":[["1a52a5f6.3b5bca"]]},{"id":"1a52a5f6.3b5bca","type":"ui_template","z":"94850da5.a52cf","group":"f5560aa4.5f6b78","name":"testing payload","order":0,"width":"6","height":"6","format":"<h3>Testing dynamic scripts with Dashboard 2.0</h3>\n{{msg.payload}}\n<script>\n    (function(scope) {\n        console.log('Position 1');\n        console.dir(scope);\n        console.log(scope.msg);\n        scope.$watch('msg.payload', function(data) {\n            console.log('Position 2');\n            console.dir(data);\n        });\n    })(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":340,"y":220,"wires":[["75c93332.f036dc"]]},{"id":"1984eb2e.b4eca5","type":"inject","z":"94850da5.a52cf","name":"","topic":"","payload":"not welcome","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":240,"wires":[["1a52a5f6.3b5bca"]]},{"id":"5f24f428.598cec","type":"debug","z":"4e3e6cd6.398944","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":100,"wires":[]},{"id":"6b0b944b.81432c","type":"inject","z":"4e3e6cd6.398944","name":"","topic":"request tree","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":80,"wires":[["5ed48257.f3490c"]]},{"id":"b23190a8.cbffd","type":"inject","z":"4e3e6cd6.398944","name":"","topic":"request tree","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":172,"y":237,"wires":[["ebf6dc67.b94b8"]]},{"id":"ebf6dc67.b94b8","type":"function","z":"4e3e6cd6.398944","name":"prepare treedata","func":"var treeData = [\n            {\n                \"name\": \"Gerac\",\n                \"parent\": \"null\",\n                \"status\": \"red\",\n                \"children\": [\n                    {\n                        \"name\": \"Sala 1\",\n                        \"parent\": \"Gerac\",\n                        \"status\": \"green\",\n                        \"children\": []\n                    },\n                    {\n                        \"name\": \"Sala 2\",\n                        \"status\": \"green\",\n                        \"parent\": \"Gerac\",\n                        \"children\": [ \n                            {\n                                \"name\": \"Sala 3\",\n                                \"status\": \"green\",\n                                \"parent\": \"Sala 2\",\n                                \"children\": []\n                            }\n                        ]\n                    },\n                    {\n                        \"name\": \"Level 2-C\",\n                        \"parent\": \"Gerac\",\n                        \"status\": \"green\",\n                        \"children\": [\n                            {\n                                \"name\": \"Gandalf\",\n                                \"status\": \"red\",\n                                \"parent\": \"Level 2-C\",\n                                \"children\": []\n                            }\n                        ]\n                    }\n                ]\n            }\n        ];\n        \n//msg.payload= treeData ;\nmsg.payload = { \"treeData\": treeData };\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":240,"wires":[["d874e3d8.fe08b"]]},{"id":"d874e3d8.fe08b","type":"ui_template","z":"4e3e6cd6.398944","group":"79b637e3.6296a8","name":"tree scheme","order":2,"width":10,"height":1,"format":"\n<style>\t\n\t.node {\n\t\tcursor: pointer;\n\t}\n\n\t.node circle {\n\t  fill: #fff;\n\t  stroke: steelblue;\n\t  stroke-width: 3px;\n\t}\n\n\t.node text {\n\t  font: 12px sans-serif;\n\t  fill: #fff;\n\t}\n\n\t.link {\n\t  fill: none;\n\t  stroke: #ccc;\n\t  stroke-width: 2px;\n\t}\n</style>\n\n<script>\n(function(scope) {\n    console.dir(scope);\n    scope.$watch('msg', function(msg) {\n        console.dir(msg);\n    \n        // clear \n        d3.select(\"#Layout_map_SVG\").remove();\n        \n\t\tvar treeData = msg.payload.treeData;\n\t\tconfig = {\n          data: treeData[0],\n          width : 1920, //svgNode.parentNode.offsetWidth, // Width of the parent container\n          height : 1080, //svgNode.parentNode.offsetHeight, // Height of the parent container\n          dWidth : 180,\n          dHight : 80,\n          margin: { // Margins that we need within our SVG\n            top: 2,\n            right: 120,\n            bottom: 20,\n            left: 120\n          },\n        };\n        \n        // ************** Generate the tree diagram\t *****************\n        var dimentions = computeSvgSizeFromData(config),\n            height = dimentions.height,\n            width = dimentions.width;\n        console.dir(dimentions);\n        \n\t\tvar i = 0,\n\t\t\tduration = 750,\n\t\t\troot;\n\n\t\tvar tree = d3.layout.tree()\n\t\t\t.size([dimentions.height, dimentions.width]);\n\t\t\t\n\t\tvar diagonal = d3.svg.diagonal()\n\t\t\t.projection(function(d) { return [d.y, d.x]; });\n\n\t\tvar svg = d3.select(\"#Layout_map\").append(\"svg\")\n\t\t    .attr(\"id\",\"Layout_map_SVG\")\n\t\t\t.attr(\"width\", dimentions.width + config.margin.right + config.margin.left)\n\t\t\t.attr(\"height\", dimentions.height + config.margin.top + config.margin.bottom)\n\t\t    .append(\"g\")\n\t\t\t.attr(\"transform\", \"translate(\" + config.margin.left + \",\" \n\t\t\t\t\t\t\t\t\t\t\t+ config.margin.top + \")\");\n\n\t\troot = treeData[0];\n\t\troot.x0 = dimentions.height / 2;\n\t\troot.y0 = 0;\n        \n        function toggleAll(d) {\n            if (d.children) {\n                if (d.status == \"lime\") {\n                    d._children = d.children;\n                    d._children.forEach(toggleAll);\n                    d.children = null;\n                }\n            }\n        }\n\n        root.children.forEach(toggleAll);\n        \n\t\tupdate(root);\n\t\t\n\t\td3.select(self.frameElement).style(\"height\", \"500px\");\n\n        function computeSvgSizeFromData(config){\n\n          var tree = d3.layout.tree(),\n            nodes = tree.nodes(config.data);\n        \n          var maxTreeChildrenHeight = {},\n            maxTreeHeight = 0,\n            maxTreeDepth = 0,\n            minSvgWidth,\n            minSvgHeight;\n        \n          // Compute the max tree depth(node which is the lowest leaf) \n          nodes.forEach(function(d) { \n              if(d.depth>maxTreeDepth){\n                  maxTreeDepth = d.depth;\n              }\n        \n              if(!maxTreeChildrenHeight[d.depth]){\n                  maxTreeChildrenHeight[d.depth] = 0;\n              }\n        \n              maxTreeChildrenHeight[d.depth] = maxTreeChildrenHeight[d.depth]+1;\n              maxTreeHeight = maxTreeHeight > maxTreeChildrenHeight[d.depth] ? maxTreeHeight : maxTreeChildrenHeight[d.depth]\n          });\n        \n\n          // Since this is a horizontal tree, compute the width\n          // based upon the depth and the height based upon \n          // the number of nodes at a depth level\n          minSvgWidth = maxTreeDepth*config.dWidth > config.width ? config.width : (maxTreeDepth+1)*config.dWidth;\n          minSvgHeight = maxTreeHeight*config.dHight > config.height ? config.height : (maxTreeHeight+1)*config.dHight;\n        \n          return {\n            width: minSvgWidth,\n            height: minSvgHeight\n          };\n        }\n\n\t\tfunction update(source) {\n\t\t\t\n\t\t  // Compute the new tree layout.\n\t\t  var nodes = tree.nodes(root).reverse(),\n\t\t\t  links = tree.links(nodes);\n            \n\t\t  // Normalize for fixed-depth.\n\t\t  nodes.forEach(function(d) { d.y = d.depth * config.dWidth/*source.dWidth*/; });\n\n          // Update the nodes…          \n\t\t  var node2 = svg.selectAll(\"g.node\")\n\t\t\t  .data(nodes, function(d) { return d.id || (d.id = ++i); });\n\n          // Enter any new nodes at the parent's previous position.\n          \n            var nodeEnter = node2.enter().append(\"g\")\n\t\t\t  .attr(\"class\", \"node\")\n\t\t\t  .attr(\"transform\", function(d) { \n\t\t\t\t  return \"translate(\" + source.y0 + \",\" + source.x0 + \")\"; })\n\t\t\t  .on(\"click\", click);\n\n\t\t  nodeEnter.append(\"circle\")\n\t\t\t  .attr(\"r\", 1e-6)\n\t\t\t  .style(\"fill\", function(d) { return d.status; });\n\n\t\t  nodeEnter.append(\"text\")\n\t\t\t  .attr(\"x\", function(d) { \n\t\t\t\t  return d.children || d._children ? -13 : 13; })\n\t\t\t  .attr(\"dy\", \".35em\")\n\t\t\t  .attr(\"text-anchor\", function(d) { \n\t\t\t\t  return d.children || d._children ? \"end\" : \"start\"; })\n\t\t\t  .text(function(d) { return d.name; })\n\t\t\t  .style(\"fill-opacity\", 1e-6);\n\n          \t\t  \n\t\t  // Transition nodes to their new position.\n\t\t  var nodeUpdate = node2.transition()\n\t\t\t  .duration(duration)\n\t\t\t  .attr(\"transform\", function(d) { \n\t\t\t\t  return \"translate(\" + d.y + \",\" + d.x + \")\"; });\n\n\t\t  nodeUpdate.select(\"circle\")\n\t\t\t  .attr(\"r\", 10)\n\t\t\t  .style(\"fill\", function(d) { return d.status; });\n\n\t\t  nodeUpdate.select(\"text\")\n\t\t\t  .style(\"fill-opacity\", 1);\n\n\t\t  // Transition exiting nodes to the parent's new position.\n\t\t  var nodeExit = node2.exit().transition()\n\t\t\t  .duration(duration)\n\t\t\t  .attr(\"transform\", function(d) { \n\t\t\t\t  return \"translate(\" + source.y + \",\" + source.x + \")\"; })\n\t\t\t  .remove();\n\n\t\t  nodeExit.select(\"circle\")\n\t\t\t  .attr(\"r\", 1e-6);\n\n\t\t  nodeExit.select(\"text\")\n\t\t\t  .style(\"fill-opacity\", 1e-6);\n\n\t\t  // Update the links…\n\t\t  var link = svg.selectAll(\"path.link\")\n\t\t\t  .data(links, function(d) { return d.target.id; });\n\n\t\t  // Enter any new links at the parent's previous position.\n\t\t  link.enter().insert(\"path\", \"g\")\n\t\t\t  .attr(\"class\", \"link\")\n\t\t\t  .attr(\"d\", function(d) {\n\t\t\t\tvar o = {x: source.x0, y: source.y0};\n\t\t\t\treturn diagonal({source: o, target: o});\n\t\t\t  });\n\n\t\t  // Transition links to their new position.\n\t\t  link.transition()\n\t\t\t  .duration(duration)\n\t\t\t  .attr(\"d\", diagonal);\n\n\t\t  // Transition exiting nodes to the parent's new position.\n\t\t  link.exit().transition()\n\t\t\t  .duration(duration)\n\t\t\t  .attr(\"d\", function(d) {\n\t\t\t\tvar o = {x: source.x, y: source.y};\n\t\t\t\treturn diagonal({source: o, target: o});\n\t\t\t  })\n\t\t\t  .remove();\n\n\t\t  // Stash the old positions for transition.\n\t\t  nodes.forEach(function(d) {\n\t\t\td.x0 = d.x;\n\t\t\td.y0 = d.y;\n\t\t  });\n\t\t}\n\t\t\n\t\t// Toggle children on click.\n        function click(d) {\n          if (d.children) {\n        \td._children = d.children;\n        \td.children = null;\n        \td._status = d.status;\n        \td.status = \"lime\";\n          } else {\n        \td.children = d._children;\n        \td._children = null;\n        \tif (typeof d._status !== 'undefined')\n        \t    d.status = d._status;\n          }\n          update(d);\n        }\n        \n\t});\n})(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":690,"y":260,"wires":[[]]},{"id":"5ed48257.f3490c","type":"function","z":"4e3e6cd6.398944","name":"prepare treedata","func":"var treeData = [\n            {\n                \"name\": \"Gerac\",\n                \"parent\": \"null\",\n                \"status\": \"red\",\n                \"children\": [\n                    {\n                        \"name\": \"Sala 1\",\n                        \"parent\": \"Gerac\",\n                        \"status\": \"green\",\n                        \"children\": []\n                    },\n                    {\n                        \"name\": \"Sala 2\",\n                        \"status\": \"green\",\n                        \"parent\": \"Gerac\",\n                        \"children\": [ \n                            {\n                                \"name\": \"Sala 3\",\n                                \"status\": \"green\",\n                                \"parent\": \"Sala 2\",\n                                \"children\": []\n                            }\n                        ]\n                    },\n                    {\n                        \"name\": \"Level 2-C\",\n                        \"parent\": \"Gerac\",\n                        \"status\": \"green\",\n                        \"children\": []\n                    }\n                ]\n            }\n        ];\n        \n//msg.payload= treeData ;\nmsg.payload = { \"treeData\": treeData };\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":80,"wires":[["d874e3d8.fe08b"]]},{"id":"2b1254ca.41ed3c","type":"function","z":"4e3e6cd6.398944","name":"prepare treedata","func":"var treeData = [];\n        \n//msg.payload= treeData ;\nmsg.payload = { \"treeData\": treeData };\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":340,"wires":[["9399ff42.cc7cd"]]},{"id":"ec2d128f.43b8a","type":"inject","z":"4e3e6cd6.398944","name":"","topic":"request tree","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":340,"wires":[["2b1254ca.41ed3c"]]},{"id":"cea57213.660a7","type":"function","z":"4e3e6cd6.398944","name":"prepare treedata 25/08","func":"var temp  = [];\n\nObject.size = function (obj) {\n    var size = 0, key;\n    for(key in obj) {\n        if(obj.hasOwnProperty(key))\n        size++;\n    }\n    return size;\n};\n\n//var size = Object.size(msg.payload.subs);\nif (msg.payload.hasOwnProperty('subs')){\n   // msg.payload = \"contem \";\n   //msg.payload = Object.size(msg.payload.subs);\n    //msg.payload = msg.payload.subs;\n    //msg.payload = Object.keys(msg.payload[\"subs\"]).length;\n    msg.payload[\"nameId\"]=\"gerac\";\n    msg.payload.subs[0][\"nameId\"]=\"sala2\";\n    msg.payload.children=msg.payload.subs;\n    delete msg.payload.subs;\n}else {\n    msg.payload = \"não contem \";\n    \n}\n//temp.push(msg.payload);\nvar treeData = [\n//{\"nodeId\":2786666964,\"root\":true,\"subs\":[{\"nodeId\":2785975103}]}\n  \n            {\n                \"name\": \"Gerac\",\n                \"parent\": \"null\",\n                \"status\": \"red\",\n                \"children\": [\n                    {\n                        \"name\": \"Sala 1\",\n                        \"parent\": \"Gerac\",\n                        \"status\": \"green\",\n                        \"children\": []\n                    },\n                    {\n                        \"name\": \"Sala 2\",\n                        \"status\": \"green\",\n                        \"parent\": \"Gerac\",\n                        \"children\": [ \n                            {\n                                \"name\": \"Sala 3\",\n                                \"status\": \"green\",\n                                \"parent\": \"Sala 2\",\n                                \"children\": []\n                            }\n                        ]\n                    },\n                    {\n                        \"name\": \"Level 2-C\",\n                        \"parent\": \"Gerac\",\n                        \"status\": \"green\",\n                        \"children\": []\n                    }\n                ]\n            }  \n];\n//msg.payload= treeData ;\n//msg.payload = { \"treeData\": temp };\n//msg.payload = temp;\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":400,"wires":[[]]},{"id":"12d38061.a50f9","type":"inject","z":"4e3e6cd6.398944","name":"Inject structure 2 níveis","topic":"","payload":"{\"nodeId\":2786666964,\"root\":true,\"subs\":[{\"nodeId\":2785975103}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":460,"wires":[["4e19d925.9070f8","b8b52942.458828"]]},{"id":"4e19d925.9070f8","type":"debug","z":"4e3e6cd6.398944","name":"debug inject structure","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":540,"y":560,"wires":[]},{"id":"9399ff42.cc7cd","type":"debug","z":"4e3e6cd6.398944","name":"debug prepare","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":680,"y":460,"wires":[]},{"id":"b8b52942.458828","type":"function","z":"4e3e6cd6.398944","name":"prepare treedata 27/08","func":"var temp  = [];\nvar nameMap= {\"2786666964\":\"Gerac\",\"2785975103\":\"Sala 1\",\"3958269898\":\"Sala 2\",\"3958217030\":\"Corredor\",\"2785975100\":\"Sala 3\"}\n/*{\n    \"nodeId\": 2786666964,\n    \"root\": true,\n    \"subs\": [\n        {\n            \"nodeId\": 3958217030,\n            \"subs\": [\n                {\n                    \"nodeId\": 2785975103,\n                    \"nodeId\": 3958269898\n                }\n            ]\n        }\n    ]\n}*/\n//var nameaux = nameMap[msg.payload.nodeId];\n//msg.payload = nameaux;\n//return msg; \n\nObject.size = function (obj) {\n    var size = 0, key;\n    for(key in obj) {\n        if(obj.hasOwnProperty(key))\n        size++;\n    }\n    return size;\n};\n//{\"nodeId\":2786666964,\"root\":true,\"subs\":[{\"nodeId\":2785975103}]}\nif (msg.payload.hasOwnProperty('nodeId') & msg.payload.hasOwnProperty('root')){//   Nível Root - red  \n    //msg.payload = Object.keys(msg.payload[\"subs\"]).length;\n\n    msg.payload[\"name\"]= nameMap[msg.payload.nodeId];\n    //msg.payload[\"name\"]=\"gerac\";\n    msg.payload[\"status\"]=\"red\";\n    msg.payload[\"parent\"]= \"null\";\n    \n    // Root contain subs connection\n    if (msg.payload.hasOwnProperty('subs')){\n        var size2 = Object.size(msg.payload.subs);\n        msg.payload.children=msg.payload.subs;\n        delete msg.payload.subs;\n\n        for(var i2=0; i2<size2; i2++){// Nível 2 - orange\n            msg.payload.children[i2][\"name\"]=nameMap[msg.payload.children[i2].nodeId];\n            msg.payload.children[i2][\"status\"]=\"orange\";\n            msg.payload.children[i2][\"parent\"]= msg.payload[\"name\"];\n            \n            if (msg.payload.children[i2].hasOwnProperty('subs')){\n                var size3 = Object.size(msg.payload.children[i2].subs);\n                msg.payload.children[i2].children=msg.payload.children[i2].subs;\n                delete msg.payload.children[i2].subs;\n        \n                for(var i3=0; i3<size3; i3++){// Nível 3 - blue\n                    msg.payload.children[i2].children[i3][\"name\"]=nameMap[msg.payload.children[i2].children[i3].nodeId]\n                    msg.payload.children[i2].children[i3][\"status\"]=\"green\";\n                    msg.payload.children[i2].children[i3][\"parent\"]= msg.payload.children[i2][\"name\"]; \n\n                    if (msg.payload.children[i2].children[i3].hasOwnProperty('subs')){\n                        var size4 = Object.size(msg.payload.children[i2].children[i3].subs);\n                        msg.payload.children[i2].children[i3].children=msg.payload.children[i2].children[i3].subs;\n                        delete msg.payload.children[i2].children[i3].subs;\n                \n                        for(var i4=0; i4<size4; i4++){// Nível 4 - green\n                            msg.payload.children[i2].children[i3].children[i4][\"name\"]=nameMap[msg.payload.children[i2].children[i3].children[i4].nodeId]\n                            msg.payload.children[i2].children[i3].children[i4][\"status\"]=\"green\";\n                            msg.payload.children[i2].children[i3].children[i4][\"parent\"]= msg.payload.children[i2].children[i3][\"name\"];        \n                        }\n                    }//else{msg.payload = \" não contem subs nível 4 - green \";}       \n                }\n            }//else{msg.payload = \" não contem subs nível 3 - blue \";}\n        }\n    }//else{msg.payload = \"não contem subs nível 2 - orange \";}\n    \n    //msg.payload.subs[0][\"nameId\"]=\"sala2\";\n    //msg.payload.children=msg.payload.subs;\n    //delete msg.payload.subs;\n}else {\n    msg.payload = \"não contem root\";\n    \n}\n\ntemp.push(msg.payload);\n//{\"nodeId\":2786666964,\"root\":true,\"subs\":[{\"nodeId\":2785975103}]}\nvar inject= {\"nodeId\":2786666964,\"root\":true,\"subs\":\n                    [\n                        {\"nodeId\":2785975103, \"subs\":\n                                    [\n                                        {\"nodeId\":3333,  \"subs\":\n                                                [\n                                                    {\"nodeId\":4444\n                                                    }\n                                                ]\n                                        }\n\n                                    ]\n                        }\n                    ]\n\n            };\n\n\n\nvar treeData = [\n\n  \n            {\n                \"name\": \"Gerac\",\n                \"parent\": \"null\",\n                \"status\": \"red\",\n                \"children\": [\n                    {\n                        \"name\": \"Sala 1\",\n                        \"parent\": \"Gerac\",\n                        \"status\": \"green\",\n                        \"children\": []\n                    },\n                    {\n                        \"name\": \"Sala 2\",\n                        \"status\": \"green\",\n                        \"parent\": \"Gerac\",\n                        \"children\": [ \n                            {\n                                \"name\": \"Sala 3\",\n                                \"status\": \"green\",\n                                \"parent\": \"Sala 2\",\n                                \"children\": []\n                            }\n                        ]\n                    },\n                    {\n                        \"name\": \"Level 2-C\",\n                        \"parent\": \"Gerac\",\n                        \"status\": \"green\",\n                        \"children\": []\n                    }\n                ]\n            }  \n];\n//msg.payload= treeData ;\nmsg.payload = { \"treeData\": temp };\n//msg.payload = temp;\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":500,"wires":[["d874e3d8.fe08b","9399ff42.cc7cd"]]},{"id":"6fb88766.725758","type":"inject","z":"4e3e6cd6.398944","name":"Inject structure 4 níveis","topic":"","payload":"{\"nodeId\":2786666964,\"root\":true,\"subs\":[{\"nodeId\":2785975103,\"subs\":[{\"nodeId\":3333,\"subs\":[{\"nodeId\":4444}]}]}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":520,"wires":[["b8b52942.458828","4e19d925.9070f8"]]},{"id":"b644ca91.500038","type":"ui_template","z":"98f1c462.0da378","group":"f1372ba7.330248","name":"tree scheme","order":1,"width":6,"height":2,"format":"\n<style>\t\n\t.node {\n\t\tcursor: pointer;\n\t}\n\n\t.node circle {\n\t  fill: #fff;\n\t  stroke: steelblue;\n\t  stroke-width: 3px;\n\t}\n\n\t.node text {\n\t  font: 12px sans-serif;\n\t  fill: #fff;\n\t}\n\n\t.link {\n\t  fill: none;\n\t  stroke: #ccc;\n\t  stroke-width: 2px;\n\t}\n</style>\n\n<script>\n(function(scope) {\n    console.dir(scope);\n    scope.$watch('msg', function(msg) {\n        console.dir(msg);\n    \n        // clear \n        d3.select(\"#Layout_map_SVG\").remove();\n        \n\t\tvar treeData = msg.payload.treeData;\n\t\tconfig = {\n          data: treeData[0],\n          width : 1920, //svgNode.parentNode.offsetWidth, // Width of the parent container\n          height : 1080, //svgNode.parentNode.offsetHeight, // Height of the parent container\n          dWidth : 180,\n          dHight : 80,\n          margin: { // Margins that we need within our SVG\n            top: 20,\n            right: 120,\n            bottom: 20,\n            left: 120\n          },\n        };\n        \n        // ************** Generate the tree diagram\t *****************\n        var dimentions = computeSvgSizeFromData(config),\n            height = dimentions.height,\n            width = dimentions.width;\n        console.dir(dimentions);\n        \n\t\tvar i = 0,\n\t\t\tduration = 750,\n\t\t\troot;\n\n\t\tvar tree = d3.layout.tree()\n\t\t\t.size([dimentions.height, dimentions.width]);\n\t\t\t\n\t\tvar diagonal = d3.svg.diagonal()\n\t\t\t.projection(function(d) { return [d.y, d.x]; });\n\n\t\tvar svg = d3.select(\"#Layout_map\").append(\"svg\")\n\t\t    .attr(\"id\",\"Layout_map_SVG\")\n\t\t\t.attr(\"width\", dimentions.width + config.margin.right + config.margin.left)\n\t\t\t.attr(\"height\", dimentions.height + config.margin.top + config.margin.bottom)\n\t\t    .append(\"g\")\n\t\t\t.attr(\"transform\", \"translate(\" + config.margin.left + \",\" \n\t\t\t\t\t\t\t\t\t\t\t+ config.margin.top + \")\");\n\n\t\troot = treeData[0];\n\t\troot.x0 = dimentions.height / 2;\n\t\troot.y0 = 0;\n        \n        function toggleAll(d) {\n            if (d.children) {\n                if (d.status == \"lime\") {\n                    d._children = d.children;\n                    d._children.forEach(toggleAll);\n                    d.children = null;\n                }\n            }\n        }\n\n        root.children.forEach(toggleAll);\n        \n\t\tupdate(root);\n\t\t\n\t\td3.select(self.frameElement).style(\"height\", \"500px\");\n\n        function computeSvgSizeFromData(config){\n\n          var tree = d3.layout.tree(),\n            nodes = tree.nodes(config.data);\n        \n          var maxTreeChildrenHeight = {},\n            maxTreeHeight = 0,\n            maxTreeDepth = 0,\n            minSvgWidth,\n            minSvgHeight;\n        \n          // Compute the max tree depth(node which is the lowest leaf) \n          nodes.forEach(function(d) { \n              if(d.depth>maxTreeDepth){\n                  maxTreeDepth = d.depth;\n              }\n        \n              if(!maxTreeChildrenHeight[d.depth]){\n                  maxTreeChildrenHeight[d.depth] = 0;\n              }\n        \n              maxTreeChildrenHeight[d.depth] = maxTreeChildrenHeight[d.depth]+1;\n              maxTreeHeight = maxTreeHeight > maxTreeChildrenHeight[d.depth] ? maxTreeHeight : maxTreeChildrenHeight[d.depth]\n          });\n        \n\n          // Since this is a horizontal tree, compute the width\n          // based upon the depth and the height based upon \n          // the number of nodes at a depth level\n          minSvgWidth = maxTreeDepth*config.dWidth > config.width ? config.width : (maxTreeDepth+1)*config.dWidth;\n          minSvgHeight = maxTreeHeight*config.dHight > config.height ? config.height : (maxTreeHeight+1)*config.dHight;\n        \n          return {\n            width: minSvgWidth,\n            height: minSvgHeight\n          };\n        }\n\n\t\tfunction update(source) {\n\t\t\t\n\t\t  // Compute the new tree layout.\n\t\t  var nodes = tree.nodes(root).reverse(),\n\t\t\t  links = tree.links(nodes);\n            \n\t\t  // Normalize for fixed-depth.\n\t\t  nodes.forEach(function(d) { d.y = d.depth * config.dWidth/*source.dWidth*/; });\n\n\t\t  // Update the nodes…\n\t\t  var node2 = svg.selectAll(\"g.node\")\n\t\t\t  .data(nodes, function(d) { return d.id || (d.id = ++i); });\n\n\t\t  // Enter any new nodes at the parent's previous position.\n\t\t  var nodeEnter = node2.enter().append(\"g\")\n\t\t\t  .attr(\"class\", \"node\")\n\t\t\t  .attr(\"transform\", function(d) { \n\t\t\t\t  return \"translate(\" + source.y0 + \",\" + source.x0 + \")\"; })\n\t\t\t  .on(\"click\", click);\n\n\t\t  nodeEnter.append(\"circle\")\n\t\t\t  .attr(\"r\", 1e-6)\n\t\t\t  .style(\"fill\", function(d) { return d.status; });\n\n\t\t  nodeEnter.append(\"text\")\n\t\t\t  .attr(\"x\", function(d) { \n\t\t\t\t  return d.children || d._children ? -13 : 13; })\n\t\t\t  .attr(\"dy\", \".35em\")\n\t\t\t  .attr(\"text-anchor\", function(d) { \n\t\t\t\t  return d.children || d._children ? \"end\" : \"start\"; })\n\t\t\t  .text(function(d) { return d.name; })\n\t\t\t  .style(\"fill-opacity\", 1e-6);\n\n\t\t  // Transition nodes to their new position.\n\t\t  var nodeUpdate = node2.transition()\n\t\t\t  .duration(duration)\n\t\t\t  .attr(\"transform\", function(d) { \n\t\t\t\t  return \"translate(\" + d.y + \",\" + d.x + \")\"; });\n\n\t\t  nodeUpdate.select(\"circle\")\n\t\t\t  .attr(\"r\", 10)\n\t\t\t  .style(\"fill\", function(d) { return d.status; });\n\n\t\t  nodeUpdate.select(\"text\")\n\t\t\t  .style(\"fill-opacity\", 1);\n\n\t\t  // Transition exiting nodes to the parent's new position.\n\t\t  var nodeExit = node2.exit().transition()\n\t\t\t  .duration(duration)\n\t\t\t  .attr(\"transform\", function(d) { \n\t\t\t\t  return \"translate(\" + source.y + \",\" + source.x + \")\"; })\n\t\t\t  .remove();\n\n\t\t  nodeExit.select(\"circle\")\n\t\t\t  .attr(\"r\", 1e-6);\n\n\t\t  nodeExit.select(\"text\")\n\t\t\t  .style(\"fill-opacity\", 1e-6);\n\n\t\t  // Update the links…\n\t\t  var link = svg.selectAll(\"path.link\")\n\t\t\t  .data(links, function(d) { return d.target.id; });\n\n\t\t  // Enter any new links at the parent's previous position.\n\t\t  link.enter().insert(\"path\", \"g\")\n\t\t\t  .attr(\"class\", \"link\")\n\t\t\t  .attr(\"d\", function(d) {\n\t\t\t\tvar o = {x: source.x0, y: source.y0};\n\t\t\t\treturn diagonal({source: o, target: o});\n\t\t\t  });\n\n\t\t  // Transition links to their new position.\n\t\t  link.transition()\n\t\t\t  .duration(duration)\n\t\t\t  .attr(\"d\", diagonal);\n\n\t\t  // Transition exiting nodes to the parent's new position.\n\t\t  link.exit().transition()\n\t\t\t  .duration(duration)\n\t\t\t  .attr(\"d\", function(d) {\n\t\t\t\tvar o = {x: source.x, y: source.y};\n\t\t\t\treturn diagonal({source: o, target: o});\n\t\t\t  })\n\t\t\t  .remove();\n\n\t\t  // Stash the old positions for transition.\n\t\t  nodes.forEach(function(d) {\n\t\t\td.x0 = d.x;\n\t\t\td.y0 = d.y;\n\t\t  });\n\t\t}\n\t\t\n\t\t// Toggle children on click.\n        function click(d) {\n          if (d.children) {\n        \td._children = d.children;\n        \td.children = null;\n        \td._status = d.status;\n        \td.status = \"lime\";\n          } else {\n        \td.children = d._children;\n        \td._children = null;\n        \tif (typeof d._status !== 'undefined')\n        \t    d.status = d._status;\n          }\n          update(d);\n        }\n        \n\t});\n})(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":610,"y":220,"wires":[[]]},{"id":"a1c1c91f.47df68","type":"function","z":"98f1c462.0da378","name":"prepare treedata 26/08","func":"var temp  = [];\nvar nameMap= {\"2786666964\":\"Gerac\",\"2785975103\":\"Sala 2\",\"3333\":\"Sala 3\",\"4444\":\"Sala 4\"}\n\nObject.size = function (obj) {\n    var size = 0, key;\n    for(key in obj) {\n        if(obj.hasOwnProperty(key))\n        size++;\n    }\n    return size;\n};\n//{\"nodeId\":2786666964,\"root\":true,\"subs\":[{\"nodeId\":2785975103}]}\nif (msg.payload.hasOwnProperty('nodeId') & msg.payload.hasOwnProperty('root')){//   Nível Root - red  \n    //msg.payload = Object.keys(msg.payload[\"subs\"]).length;\n\n    msg.payload[\"nameId\"]= nameMap[msg.payload.nodeId];\n    //msg.payload[\"nameId\"]=\"gerac\";\n    msg.payload[\"status\"]=\"red\";\n    msg.payload[\"parent\"]= \"null\";\n    \n    // Root contain subs connection\n    if (msg.payload.hasOwnProperty('subs')){\n        var size2 = Object.size(msg.payload.subs);\n        msg.payload.children=msg.payload.subs;\n        delete msg.payload.subs;\n\n        for(var i2=0; i2<size2; i2++){// Nível 2 - orange\n            msg.payload.children[i2][\"nameId\"]=nameMap[msg.payload.children[i2].nodeId];\n            msg.payload.children[i2][\"status\"]=\"orange\";\n            msg.payload.children[i2][\"parent\"]= msg.payload[\"nameId\"];\n            \n            if (msg.payload.children[i2].hasOwnProperty('subs')){\n                var size3 = Object.size(msg.payload.children[i2].subs);\n                msg.payload.children[i2].children=msg.payload.children[i2].subs;\n                delete msg.payload.children[i2].subs;\n        \n                for(var i3=0; i3<size3; i3++){// Nível 3 - blue\n                    msg.payload.children[i2].children[i3][\"nameId\"]=nameMap[msg.payload.children[i2].children[i3].nodeId]\n                    msg.payload.children[i2].children[i3][\"status\"]=\"blue\";\n                    msg.payload.children[i2].children[i3][\"parent\"]= msg.payload.children[i2][\"nameId\"]; \n\n                    if (msg.payload.children[i2].children[i3].hasOwnProperty('subs')){\n                        var size4 = Object.size(msg.payload.children[i2].children[i3].subs);\n                        msg.payload.children[i2].children[i3].children=msg.payload.children[i2].children[i3].subs;\n                        delete msg.payload.children[i2].children[i3].subs;\n                \n                        for(var i4=0; i4<size4; i4++){// Nível 4 - green\n                            msg.payload.children[i2].children[i3].children[i4][\"nameId\"]=nameMap[msg.payload.children[i2].children[i3].children[i4].nodeId]\n                            msg.payload.children[i2].children[i3].children[i4][\"status\"]=\"green\";\n                            msg.payload.children[i2].children[i3].children[i4][\"parent\"]= msg.payload.children[i2].children[i3][\"nameId\"];        \n                        }\n                    }else {\n                        msg.payload = \" não contem subs nível 4 - green \";                        \n                    }       \n                }\n            }else {\n                msg.payload = \" não contem subs nível 3 - blue \";                \n            }\n        }\n    }else {\n        msg.payload = \"não contem subs nível 2 - orange \";        \n    }\n    \n    //msg.payload.subs[0][\"nameId\"]=\"sala2\";\n    //msg.payload.children=msg.payload.subs;\n    //delete msg.payload.subs;\n}else {\n    msg.payload = \"não contem root\";\n    \n}\n\ntemp.push(msg.payload);\n//{\"nodeId\":2786666964,\"root\":true,\"subs\":[{\"nodeId\":2785975103}]}\nvar inject= {\"nodeId\":2786666964,\"root\":true,\"subs\":\n                    [\n                        {\"nodeId\":2785975103, \"subs\":\n                                    [\n                                        {\"nodeId\":3333,  \"subs\":\n                                                [\n                                                    {\"nodeId\":4444\n                                                    }\n                                                ]\n                                        }\n\n                                    ]\n                        }\n                    ]\n\n            };\n\n\n\nvar treeData = [\n\n  \n            {\n                \"name\": \"Gerac\",\n                \"parent\": \"null\",\n                \"status\": \"red\",\n                \"children\": [\n                    {\n                        \"name\": \"Sala 1\",\n                        \"parent\": \"Gerac\",\n                        \"status\": \"green\",\n                        \"children\": []\n                    },\n                    {\n                        \"name\": \"Sala 2\",\n                        \"status\": \"green\",\n                        \"parent\": \"Gerac\",\n                        \"children\": [ \n                            {\n                                \"name\": \"Sala 3\",\n                                \"status\": \"green\",\n                                \"parent\": \"Sala 2\",\n                                \"children\": []\n                            }\n                        ]\n                    },\n                    {\n                        \"name\": \"Level 2-C\",\n                        \"parent\": \"Gerac\",\n                        \"status\": \"green\",\n                        \"children\": []\n                    }\n                ]\n            }  \n];\n//msg.payload= treeData ;\nmsg.payload = { \"treeData\": temp };\n//msg.payload = temp;\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":340,"wires":[["b644ca91.500038","71737fda.bb7bd"]]},{"id":"1b5e1a1a.9ac6d6","type":"inject","z":"98f1c462.0da378","name":"Inject structure 4 níveis","topic":"","payload":"{\"nodeId\":2786666964,\"root\":true,\"subs\":[{\"nodeId\":2785975103,\"subs\":[{\"nodeId\":3333,\"subs\":[{\"nodeId\":4444}]}]}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":360,"wires":[["a1c1c91f.47df68","873b5c7b.c269","e474bffc.866ce"]]},{"id":"873b5c7b.c269","type":"debug","z":"98f1c462.0da378","name":"debug inject structure","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":380,"y":440,"wires":[]},{"id":"71737fda.bb7bd","type":"debug","z":"98f1c462.0da378","name":"debug prepare","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":680,"y":300,"wires":[]},{"id":"3ac08104.85412e","type":"inject","z":"98f1c462.0da378","name":"Inject structure 2 níveis","topic":"","payload":"{\"nodeId\":2786666964,\"root\":true,\"subs\":[{\"nodeId\":2785975103}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":280,"wires":[["a1c1c91f.47df68"]]},{"id":"4a5e9e7f.45355","type":"mqtt in","z":"4e3e6cd6.398944","name":"","topic":"from/gateway/tree","qos":"2","datatype":"auto","broker":"822ecd93.83d82","x":130,"y":600,"wires":[["7efa1ae.ec695e4","24089735.bc0af8"]]},{"id":"7efa1ae.ec695e4","type":"json","z":"4e3e6cd6.398944","name":"","property":"payload","action":"","pretty":false,"x":290,"y":700,"wires":[["b8b52942.458828"]]},{"id":"2180424a.baa45e","type":"mqtt out","z":"4e3e6cd6.398944","name":"","topic":"painlessMesh/to/gateway","qos":"","retain":"","broker":"822ecd93.83d82","x":530,"y":700,"wires":[]},{"id":"7b84b6f5.4b2748","type":"inject","z":"4e3e6cd6.398944","name":"","topic":"","payload":"meshStruct","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":780,"wires":[["2180424a.baa45e"]]},{"id":"24089735.bc0af8","type":"debug","z":"4e3e6cd6.398944","name":"debug painlessMesh/from/gateway/treeStructure","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":620,"y":620,"wires":[]},{"id":"d6e4b631.468a18","type":"inject","z":"4e3e6cd6.398944","name":"Inject root","topic":"","payload":"{\"nodeId\":2786666964,\"root\":true}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":380,"wires":[["b8b52942.458828","4e19d925.9070f8"]]},{"id":"e15d79e4.6b18e8","type":"function","z":"4e3e6cd6.398944","name":"prepare treedata 26/08","func":"var temp  = [];\nvar nameMap= {\"2786666964\":\"Gerac\",\"2785975103\":\"Sala 2 (Wemos)\",\"3958269898\":\"Sala 3\",\"3958217030\":\"Sala 4\"}\n//var nameaux = nameMap[msg.payload.nodeId];\n//msg.payload = nameaux;\n//return msg; \n\nObject.size = function (obj) {\n    var size = 0, key;\n    for(key in obj) {\n        if(obj.hasOwnProperty(key))\n        size++;\n    }\n    return size;\n};\n//{\"nodeId\":2786666964,\"root\":true,\"subs\":[{\"nodeId\":2785975103}]}\nif (msg.payload.hasOwnProperty('nodeId') & msg.payload.hasOwnProperty('root')){//   Nível Root - red  \n    //msg.payload = Object.keys(msg.payload[\"subs\"]).length;\n\n    msg.payload[\"name\"]= nameMap[msg.payload.nodeId];\n    //msg.payload[\"name\"]=\"gerac\";\n    msg.payload[\"status\"]=\"red\";\n    msg.payload[\"parent\"]= \"null\";\n    \n    // Root contain subs connection\n    if (msg.payload.hasOwnProperty('subs')){\n        var size2 = Object.size(msg.payload.subs);\n        msg.payload.children=msg.payload.subs;\n        delete msg.payload.subs;\n\n        for(var i2=0; i2<size2; i2++){// Nível 2 - orange\n            msg.payload.children[i2][\"name\"]=nameMap[msg.payload.children[i2].nodeId];\n            msg.payload.children[i2][\"status\"]=\"orange\";\n            msg.payload.children[i2][\"parent\"]= msg.payload[\"name\"];\n            \n            if (msg.payload.children[i2].hasOwnProperty('subs')){\n                var size3 = Object.size(msg.payload.children[i2].subs);\n                msg.payload.children[i2].children=msg.payload.children[i2].subs;\n                delete msg.payload.children[i2].subs;\n        \n                for(var i3=0; i3<size3; i3++){// Nível 3 - blue\n                    msg.payload.children[i2].children[i3][\"name\"]=nameMap[msg.payload.children[i2].children[i3].nodeId]\n                    msg.payload.children[i2].children[i3][\"status\"]=\"blue\";\n                    msg.payload.children[i2].children[i3][\"parent\"]= msg.payload.children[i2][\"name\"]; \n\n                    if (msg.payload.children[i2].children[i3].hasOwnProperty('subs')){\n                        var size4 = Object.size(msg.payload.children[i2].children[i3].subs);\n                        msg.payload.children[i2].children[i3].children=msg.payload.children[i2].children[i3].subs;\n                        delete msg.payload.children[i2].children[i3].subs;\n                \n                        for(var i4=0; i4<size4; i4++){// Nível 4 - green\n                            msg.payload.children[i2].children[i3].children[i4][\"name\"]=nameMap[msg.payload.children[i2].children[i3].children[i4].nodeId]\n                            msg.payload.children[i2].children[i3].children[i4][\"status\"]=\"green\";\n                            msg.payload.children[i2].children[i3].children[i4][\"parent\"]= msg.payload.children[i2].children[i3][\"name\"];        \n                        }\n                    }//else{msg.payload = \" não contem subs nível 4 - green \";}       \n                }\n            }//else{msg.payload = \" não contem subs nível 3 - blue \";}\n        }\n    }//else{msg.payload = \"não contem subs nível 2 - orange \";}\n    \n    //msg.payload.subs[0][\"nameId\"]=\"sala2\";\n    //msg.payload.children=msg.payload.subs;\n    //delete msg.payload.subs;\n}else {\n    msg.payload = \"não contem root\";\n    \n}\n\ntemp.push(msg.payload);\n//{\"nodeId\":2786666964,\"root\":true,\"subs\":[{\"nodeId\":2785975103}]}\nvar inject= {\"nodeId\":2786666964,\"root\":true,\"subs\":\n                    [\n                        {\"nodeId\":2785975103, \"subs\":\n                                    [\n                                        {\"nodeId\":3333,  \"subs\":\n                                                [\n                                                    {\"nodeId\":4444\n                                                    }\n                                                ]\n                                        }\n\n                                    ]\n                        }\n                    ]\n\n            };\n\n\n\nvar treeData = [\n\n  \n            {\n                \"name\": \"Gerac\",\n                \"parent\": \"null\",\n                \"status\": \"red\",\n                \"children\": [\n                    {\n                        \"name\": \"Sala 1\",\n                        \"parent\": \"Gerac\",\n                        \"status\": \"green\",\n                        \"children\": []\n                    },\n                    {\n                        \"name\": \"Sala 2\",\n                        \"status\": \"green\",\n                        \"parent\": \"Gerac\",\n                        \"children\": [ \n                            {\n                                \"name\": \"Sala 3\",\n                                \"status\": \"green\",\n                                \"parent\": \"Sala 2\",\n                                \"children\": []\n                            }\n                        ]\n                    },\n                    {\n                        \"name\": \"Level 2-C\",\n                        \"parent\": \"Gerac\",\n                        \"status\": \"green\",\n                        \"children\": []\n                    }\n                ]\n            }  \n];\n//msg.payload= treeData ;\nmsg.payload = { \"treeData\": temp };\n//msg.payload = temp;\n\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":380,"wires":[[]]},{"id":"403a9676.74ea78","type":"function","z":"4e3e6cd6.398944","name":"prepare treedata","func":"var treeData = [\n            {\n                \"name\": \"Gerac\",\n                \"parent\": \"null\",\n                \"status\": \"red\",\n                \"children\": [\n                    {},{}\n                    \n                ]\n            },{}\n        ];\n        \n//msg.payload= treeData ;\nmsg.payload = { \"treeData\": treeData };\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":160,"wires":[["d874e3d8.fe08b"]]},{"id":"7225acac.3439e4","type":"inject","z":"4e3e6cd6.398944","name":"","topic":"request tree","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":160,"wires":[["403a9676.74ea78"]]},{"id":"ef5f5966.5c12f8","type":"inject","z":"a18846b8.272c08","name":"Inject structure 2 níveis","topic":"","payload":"{\"nodeId\":2786666964,\"root\":true,\"subs\":[{\"nodeId\":2785975103}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":120,"wires":[["ba230df0.c3209"]]},{"id":"bbcbc837.a8e538","type":"debug","z":"a18846b8.272c08","name":"debug inject structure","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":680,"y":440,"wires":[]},{"id":"8427f0b2.f061a","type":"debug","z":"a18846b8.272c08","name":"debug prepare","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":680,"y":260,"wires":[]},{"id":"45b4dd16.da4ed4","type":"mqtt in","z":"a18846b8.272c08","name":"","topic":"from/gateway/tree","qos":"2","datatype":"auto","broker":"822ecd93.83d82","x":310,"y":680,"wires":[[]]},{"id":"433ed8ac.710d58","type":"mqtt out","z":"a18846b8.272c08","name":"","topic":"painlessMesh/to/gateway","qos":"","retain":"","broker":"822ecd93.83d82","x":690,"y":540,"wires":[]},{"id":"2e0d7be0.ea0f14","type":"inject","z":"a18846b8.272c08","name":"send box meshStruct","topic":"","payload":"{\"msgType\":\"meshStruct\",\"raiz\":true}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":640,"wires":[["433ed8ac.710d58"]]},{"id":"4f8039bc.3124b8","type":"inject","z":"a18846b8.272c08","name":"send IR box LigarTVSamsung","topic":"","payload":"{\"msgType\":\"sendIR\",\"IRcode\":\"0xE0E09966\",\"IRtype\":7,\"IRbits\":32,\"IRrepeat\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":460,"wires":[["bbcbc837.a8e538","433ed8ac.710d58"]]},{"id":"f347b885.1d2928","type":"inject","z":"a18846b8.272c08","name":"send IR box DesligarTVSamsung","topic":"","payload":"{\"msgType\":\"sendIR\",\"IRcode\":\"0xE0E040BF\",\"IRtype\":7,\"IRbits\":32,\"IRrepeat\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":500,"wires":[["bbcbc837.a8e538","433ed8ac.710d58"]]},{"id":"ba230df0.c3209","type":"function","z":"a18846b8.272c08","name":"random(22,25)","func":"//Math.floor(Math.random() * (max - min + 1)) + min;\nvar max=25;\nvar min=22;\n// 5 -> 20\n//Math.floor(Math.random() * 16) + 5;\nmsg.payload = Math.random() * (max - min + 1) + min;\n//msg = random(20,29);\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":120,"wires":[["8427f0b2.f061a","c48bfd9d.01e54"]]},{"id":"66e52b3.3e861d4","type":"function","z":"a18846b8.272c08","name":"random(0,1)","func":"//Math.floor(Math.random() * (max - min + 1)) + min;\nvar max=25;\nvar min=22;\n// 5 -> 20\n//Math.floor(Math.random() * 16) + 5;\nmsg.payload = Math.random();// * (max - min + 1) + min;\n//msg = random(20,29);\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":200,"wires":[["8427f0b2.f061a","27dae46.fa4f11c"]]},{"id":"7d78a3d2.7c5f4c","type":"inject","z":"a18846b8.272c08","name":"Inject structure 2 níveis","topic":"","payload":"{\"nodeId\":2786666964,\"root\":true,\"subs\":[{\"nodeId\":2785975103}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":200,"wires":[["66e52b3.3e861d4"]]},{"id":"c48bfd9d.01e54","type":"function","z":"a18846b8.272c08","name":"","func":"//var publicVariables = {temp:msg.payload}\nvar publicVariables = msg.payload;\n\nglobal.set(\"gtemp\", publicVariables);\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":120,"wires":[["21b3d48c.dc1b3c"]]},{"id":"21b3d48c.dc1b3c","type":"debug","z":"a18846b8.272c08","name":"debug f1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":720,"y":60,"wires":[]},{"id":"27dae46.fa4f11c","type":"function","z":"a18846b8.272c08","name":"","func":"var publicVariables = msg.payload\n\nglobal.set(\"gveloc\", publicVariables);\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":200,"wires":[["71775db.0c64ea4"]]},{"id":"71775db.0c64ea4","type":"debug","z":"a18846b8.272c08","name":"debug f2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":760,"y":160,"wires":[]},{"id":"5020443d.6d429c","type":"function","z":"a18846b8.272c08","name":"","func":"msg.payload = global.get(\"gtemp\");\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":280,"wires":[["f366ad06.79666"]]},{"id":"f366ad06.79666","type":"debug","z":"a18846b8.272c08","name":"debug retrieve","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":360,"y":360,"wires":[]},{"id":"71b2fb1f.4e3ef4","type":"inject","z":"a18846b8.272c08","name":"go","topic":"","payload":"{\"nodeId\":2786666964,\"root\":true,\"subs\":[{\"nodeId\":2785975103}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":280,"wires":[["5020443d.6d429c","53211f17.36b7f"]]},{"id":"9e899d41.9f60d","type":"function","z":"a18846b8.272c08","name":"","func":"msg.payload = global.get(\"gveloc\");\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":320,"wires":[["f366ad06.79666"]]},{"id":"86551092.3389b","type":"inject","z":"a18846b8.272c08","name":"go","topic":"","payload":"{\"nodeId\":2786666964,\"root\":true,\"subs\":[{\"nodeId\":2785975103}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":320,"wires":[["9e899d41.9f60d"]]},{"id":"53211f17.36b7f","type":"function","z":"a18846b8.272c08","name":"ICS calc","func":"temp = global.get(\"gtemp\");\nveloc = global.get(\"gveloc\");\nmsg.payload.temp = temp;\nmsg.payload.veloc = veloc;\n\n//msg.payload = global.get(\"gtemp\");\n\n a = 569.76047;\n b = 2.371385;\n c = -73.0640184;\n d = -0.04410662;\n e = 3.092796;\n f = -0.15052;\n g = 0.00004456901;\n h = -0.0432946;\n i = 0.002343330;\n j = 0.0016435087;\n\nfunction calculoics(temperatura, velocidade){\n  temp_quadrado = Math.pow(temperatura,2.0);\n  vel_quadrado = Math.pow(velocidade,2.0);\n  ics = 0.0;\n    \n    if(velocidade<0.0){\n          ics = a +  (c*temperatura) +  (e*temp_quadrado) +  (h*Math.pow(temperatura,3));\n    }else{\n          ics = a + (b/velocidade) + (c*temperatura) + (d/vel_quadrado)+ (e*temp_quadrado) + ((f*temperatura)/velocidade) + (g/Math.pow(velocidade,3)) + (h*Math.pow(temperatura,3)) + ((i*temp_quadrado)/velocidade)+((j*temperatura)/vel_quadrado);\n    }\n  return ics;\n}\n\nmsg.payload.ics = calculoics(temp,veloc)\n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":320,"wires":[["8427f0b2.f061a"]]},{"id":"e9297f17.dc773","type":"ui_chart","z":"36f11493.55142c","name":"icsChartGerac","group":"8eb0d2aa.02b3f","order":3,"width":0,"height":0,"label":"ICS","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"-3","ymax":"3","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":680,"y":220,"wires":[[]]},{"id":"45d38163.477fc","type":"ui_gauge","z":"36f11493.55142c","name":"icsGaugeGerac","group":"c98422b2.87c7e","order":5,"width":6,"height":4,"gtype":"gage","title":"ICS","label":"","format":"{{value | number:2}}","min":"-3","max":"3","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"-0.5","seg2":"0.5","x":680,"y":180,"wires":[]},{"id":"44e67821.2d8078","type":"ui_gauge","z":"36f11493.55142c","name":"icsGaugeSala1","group":"34ff77b0.26dd98","order":5,"width":6,"height":4,"gtype":"gage","title":"ICS","label":"","format":"{{value | number:2}}","min":"-3","max":"3","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"-0.5","seg2":"0.5","x":520,"y":580,"wires":[]},{"id":"2dee9a65.412926","type":"ui_chart","z":"36f11493.55142c","name":"icsChartSala1","group":"77e984eb.f9433c","order":3,"width":0,"height":0,"label":"ICS","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"-3","ymax":"3","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":520,"y":620,"wires":[[]]},{"id":"94c9431d.563cf","type":"ui_gauge","z":"36f11493.55142c","name":"icsGaugeSala2","group":"d7d4bfda.c8dec","order":5,"width":6,"height":4,"gtype":"gage","title":"ICS","label":"","format":"{{value | number:2}}","min":"-3","max":"3","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"-0.5","seg2":"0.5","x":420,"y":880,"wires":[]},{"id":"53ca2793.d0d048","type":"ui_chart","z":"36f11493.55142c","name":"icsChartSala2","group":"be1fc28e.cfb13","order":3,"width":0,"height":0,"label":"ICS","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"-3","ymax":"3","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":400,"y":920,"wires":[[]]},{"id":"49aff58a.d73a7c","type":"debug","z":"36f11493.55142c","name":"painlessMesh/from/#","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":340,"y":40,"wires":[]},{"id":"9af10969.3a95b8","type":"inject","z":"a18846b8.272c08","name":"send IR box Sala 3 - Raw code","topic":"","payload":"{\"msgType\":\"sendIR\",\"IRcode\":\"0xB25F70\",\"IRtype\":15,\"IRbits\":24,\"IRrepeat\":0,\"IRRawCode\":[4450,4350,550,1600,550,550,600,1500,600,1550,600,500,600,500,550,1550,600,500,600,500,600,1500,600,500,600,500,600,1550,550,1550,600,500,600,1500,600,500,600,500,550,1600,600,1500,600,1550,600,1500,600,1550,600,1500,600,1550,600,1550,600,450,550,550,550,550,550,550,550,550,550,550,500,550,550,1600,600,500,500,1600,550,550,550,550,550,550,500,600,500,1600,550,550,550,1550,550,550,550,1600,550,1550,550,1600,550,1600,500]}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":800,"wires":[["433ed8ac.710d58","ba807c0.21bc688"]]},{"id":"e48fa76b.46a2a8","type":"inject","z":"a18846b8.272c08","name":"IRRaw[203]  - SamsungTV_pwr","topic":"","payload":"{\"msgType\":\"sendIR\",\"IRcode\":\"0xB25F70\",\"IRtype\":7,\"IRbits\":24,\"IRrepeat\":0,\"IRRawCode\":[480,4514,562,1706,548,1708,546,1692,562,588,544,588,542,566,568,584,546,610,520,1692,564,1684,572,1682,574,586,544,586,544,586,548,598,534,610,522,1710,544,564,568,558,574,588,544,596,534,610,522,610,520,560,572,610,522,1710,546,1708,546,1660,596,1682,572,1682,574,1710,546,1704,552,46726,4552,4530,546,1680,574,1712,544,1712,544,558,574,586,544,590,544,596,536,608,522,1710,544,1710,546,1706,552,596,534,586,546,612,518,606,528,584,546,1682,574,588,544,588,544,584,546,586,546,596,536,610,520,612,520,610,520,1716,540,1684,572,1712,542,1684,572,1712,544,1684,572,1710,546,46788,4478,4528,546,1710,542,1656,600,1686,570,584,546,586,546,564,568,600,530,610,520,1710,546,1682,574,1704,552,588,542,578,554,586,546,588,544,586,544,1714,544,580,550,586,544,594,538,586,546,606,526,608,524,612,518,610,522,1684,572,1712,544,1686,570,1684,570,1714,542,1694,560,1704,550]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":540,"wires":[["433ed8ac.710d58"]]},{"id":"d73d9326.068a3","type":"inject","z":"a18846b8.272c08","name":"send IR box Sala 3 - Raw code","topic":"","payload":"{\"msgType\":\"sendIR\",\"IRcode\":\"0xB25F70\",\"IRtype\":15,\"IRbits\":24,\"IRrepeat\":0,\"IRRawCode\":[4450,4350,550,1600,550,550,600,1500,600,1550,600,500,600,500,550,1550,8888]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":860,"wires":[["433ed8ac.710d58","ba807c0.21bc688"]]},{"id":"391841dc.30d93e","type":"inject","z":"a18846b8.272c08","name":"send IRRaw[68] box  - SamsungTV_pwr","topic":"","payload":"{\"msgType\":\"sendIR\",\"IRcode\":\"0xB25F70\",\"IRtype\":15,\"IRbits\":24,\"IRrepeat\":0,\"IRRawCode\":[4600,4350,700,1550,650,1550,650,1600,650,450,650,450,650,450,650,450,700,400,700,1550,650,1550,650,1600,650,450,650,450,650,450,700,450,650,450,650,450,650,1550,700,450,650,450,650,450,650,450,650,450,700,400,650,1600,650,450,650,1550,650,1600,650,1550,650,1550,700,1550,650,1550,650]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":940,"wires":[["ba807c0.21bc688"]]},{"id":"ba807c0.21bc688","type":"mqtt out","z":"a18846b8.272c08","name":"","topic":"painlessMesh/to/3958269898","qos":"","retain":"","broker":"822ecd93.83d82","x":700,"y":720,"wires":[]},{"id":"88d1232.5978de","type":"inject","z":"a18846b8.272c08","name":"send IRRaw[68] box  - SamsungTV_pwr","topic":"","payload":"{\"msgType\":\"sendIR\",\"IRcode\":\"0xB25F70\",\"IRtype\":15,\"IRbits\":24,\"IRrepeat\":0,\"IRRawCodeOrig\":[4600,4350,700,1550,650,1550,650,1600,650,450,650,450,650,450,650,450,700,400,700,1550,650,1550,650,1600,650,450,650,450,650,450,700,450,650,450,650,450,650,1550,700,450,650,450,650,450,650,450,650,450,700,400,650,1600,650,450,650,1550,650,1600,650,1550,650,1550,700,1550,650,1550,650],\"IRRawCode\":[4550,4400,600,1650,550,1650,600,1650,550,550,600,500,600,550,550,550,600,500,600,1650,600,1600,600,1650,550,550,600,500,600,550,600,500,600,500,650,450,650,1600,600,500,650,450,650,500,600,500,600,500,600,550,600,1600,600,500,650,1600,650,1550,650,1600,650,1550,650,1600,650,1600,600]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":710,"y":640,"wires":[[]]},{"id":"a92ae02e.cae6b","type":"inject","z":"a18846b8.272c08","name":"send IRRaw[68] box  - SamsungTV_pwr","topic":"","payload":"{\"msgType\":\"sendIR\",\"IRcode\":\"0xB25F70\",\"IRtype\":15,\"IRbits\":24,\"IRrepeat\":0,\"IRRawCode\":[4500,4450,600,1650,600,1650,600,1650,600,550,600,550,600,550,600,550,600,550,600,1650,600,1650,600,1650,600,550,600,550,600,550,600,550,600,550,600,550,600,1650,600,550,600,550,600,550,600,550,600,550,600,550,600,1650,600,550,600,1650,600,1650,600,1650,600,1650,600,1650,600,1650,600]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":580,"wires":[["433ed8ac.710d58"]]},{"id":"996ca289.97f8d","type":"inject","z":"a18846b8.272c08","name":"IRRaw[203]  - SamsungTV_pwr","topic":"","payload":"{\"msgType\":\"sendIR\",\"IRcode\":\"0xB25F70\",\"IRtype\":7,\"IRbits\":24,\"Rbits\":24,\"ts\":24,\"IRrepeat\":0,\"IRRawCode\":[480,4514,562,1706,548,1708,546,1692,562,588,544,588,542,566,568,584,546,610,520,1692,564,1684,572,1682,574,586,544,586,544,586,548,598,534,610,522,1710,544,564,568,558,574,588,544,596,534,610,522,610,520,560,572,610,522,1710,546,1708,546,1660,596,1682,572,1682,574,1710,546,1704,552,46726,4552,4530,546,1680,574,1712,544,1712,544,558,574,586,544,590,544,596,536,608,522,1710,544,1710,546,1706,552,596,534,586,546,612,518,606,528,584,546,1682,574,588,544,588,544,584,546,586,546,596,536,610,520,612,520,610,520,1716,540,1684,572,1712,542,1684,572,1712,544,1684,572,1710,546,46788,4478,4528,546,1710,542,1656,600,1686,570,584,546,586,546,564,568,600,530,610,520,1710,546,1682,574,1704,552,588,542,578,554,586,546,588,544,586,544,1714,544,580,550,586,544,594,538,586,546,606,526,608,524,612,518,610,522,1684,572,1712,544,1686,570,1684,570,1714,542,1694,560,1704,550]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":740,"wires":[["433ed8ac.710d58"]]},{"id":"1378272d.0220b9","type":"function","z":"a18846b8.272c08","name":"Sansung TV on/off codes","func":"// \"<p><a href=\\\"ir?type=7&code=E0E09966\\\">TV on (Samsung)</a></p>\"    \"<p><a href=\\\"ir?type=7&code=E0E040BF\\\">TV off (Samsung)</a></p>\"        \"<p><a href=\\\"ir?type=7&code=E0E0807F\\\">TV source (Samsung)</a></p>\"        \"<p><a href=\\\"ir?type=7&code=E0E0F00F\\\">TV mute (Samsung)</a></p>\"        \"<p><a href=\\\"ir?type=7&code=E0E0E01F\\\">TV vol+ (Samsung)</a></p>\"    \"<p><a href=\\\"ir?type=7&code=E0E0D02F\\\">TV vol- (Samsung)</a></p>\"","outputs":1,"noerr":0,"x":150,"y":60,"wires":[[]]},{"id":"e87613fa.110b7","type":"debug","z":"b6c4fe57.2d9a9","name":"debug lógica","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":180,"wires":[]},{"id":"e232a07c.08daa","type":"function","z":"b6c4fe57.2d9a9","name":"Lógica (ics,temp,last_temp,last_fan)->(setpoint:temp,veloc)","func":"var temp  = [];\n\nObject.size = function (obj) {\n    var size = 0, key;\n    for(key in obj) {\n        if(obj.hasOwnProperty(key))\n        size++;\n    }\n    return size;\n};\n/*\nif (msg.payload.hasOwnProperty('ics')){\n    msg.payload[\"nameId\"]= nameMap[msg.payload.nodeId];\n    msg.payload[\"status\"]=\"red\";\n    msg.payload[\"parent\"]= \"null\";\n    if (msg.payload.hasOwnProperty('subs')){\n        var size2 = Object.size(msg.payload.subs);\n        msg.payload.children=msg.payload.subs;\n        delete msg.payload.subs;\n        for(var i2=0; i2<size2; i2++){// Nível 2 - orange\n            msg.payload.children[i2][\"nameId\"]=nameMap[msg.payload.children[i2].nodeId];\n            msg.payload.children[i2][\"status\"]=\"orange\";\n            msg.payload.children[i2][\"parent\"]= msg.payload[\"nameId\"];\n            \n        }\n    }else {\n        msg.payload = \"não contem subs nível 2 - orange \";        \n    }\n}else {\n    msg.payload = \"não contem root\";\n    \n}*/\n\n//temp.push(msg.payload);\n\n//msg.payload= treeData ;\n//msg.payload = { \"treeData\": temp };\n//msg.payload = temp;\n\n//return msg;\n//***********************************************************\n//var set_t,set_v;\nvar publicVariables = {\"last_temp\":22, \"last_fan\":1};\n\nglobal.set(\"1234\", publicVariables);\n\nreturn msg;\n\n\nif (msg.payload.hasOwnProperty('ics')){\n    \n    var temp = msg.payload[\"temp\"];\n    var last_cmd_fan = msg.payload[\"lastFan\"];\n    var last_cmd_temp = msg.payload[\"lastTemp\"];\n    \n    if(temp>25){\n        msg.payload[\"lastFan\"] = 3;\n        msg.payload[\"lastTemp\"] = 24;\n        return msg.payload;\n    }\n  \n  if (ics > 0.5){\n    switch (last_cmd_fan) {\n      case 1:// Fan=1-> fan up\n        msg.payload[\"setFan\"] = 2;\n        msg.payload[\"setTemp\"] = last_cmd_temp;\n        break;\n      case 2:// Fan=2 -> fan up\n        msg.payload[\"setFan\"] = 3;\n        msg.payload[\"setTemp\"] = last_cmd_temp;//last_cmd_fan = 3;\n        break;\n      case 3:// Temp down\n        msg.payload[\"setFan\"] = 3;\n        if(last_cmd_temp==22){\n            msg.payload[\"setTemp\"] = last_cmd_temp;\n\n        }else{\n            msg.payload[\"setTemp\"] = last_cmd_temp-1;\n\n        }\n        msg.payload[\"setTemp\"] = last_cmd_temp-1;\n        break;      \n    }\n\n    //*******************************************************************************\n  }else if(ics < (-0.5)){\n    switch (last_cmd_fan) {\n      case 1:// Temp up\n            //if(last_cmd_temp>temp)temp =last_cmd_temp;\n            switch (last_cmd_temp) {\n              case 25:\n                //irsend.sendRaw(T25F2, 73, khz);\n                break;\n              case 24:\n                cmd(10);Serial.println(F(\"CMD 10\"));\n                irsend.sendRaw(data.raw, 73, khz);last_cmd_temp = 25;\n                break;\n              case 23:\n                cmd(7);Serial.println(F(\"CMD 7\"));\n                irsend.sendRaw(data.raw, 73, khz);last_cmd_temp = 24;\n                break;\n              case 22:\n                cmd(4);Serial.println(F(\"CMD 4\"));\n                irsend.sendRaw(data.raw, 73, khz);last_cmd_temp = 23;\n                break;      \n            }\n        break;\n      case 2:// Fan down\n            switch (last_cmd_temp) {\n              case 25:\n                cmd(10);Serial.println(F(\"CMD 10\"));\n                irsend.sendRaw(data.raw, 73, khz);last_cmd_fan = 1;\n                break;\n              case 24:\n                cmd(7);Serial.println(F(\"CMD 7\"));\n                irsend.sendRaw(data.raw, 73, khz);last_cmd_fan = 1;\n                break;\n              case 23:\n                cmd(4);Serial.println(F(\"CMD 4\"));\n                irsend.sendRaw(data.raw, 73, khz);last_cmd_fan = 1;\n                break;\n              case 22:\n                cmd(1);Serial.println(F(\"CMD 1\"));\n                irsend.sendRaw(data.raw, 73, khz);last_cmd_fan = 1;\n                break;      \n            }\n        break;\n      case 3:// Fan down\n            switch (last_cmd_temp) {\n              case 25:\n                cmd(11);Serial.println(F(\"CMD 11\"));\n                irsend.sendRaw(data.raw, 73, khz);last_cmd_fan = 2;\n                break;\n              case 24:\n                cmd(8);Serial.println(F(\"CMD 8\"));\n                irsend.sendRaw(data.raw, 73, khz);last_cmd_fan = 2;\n                break;\n              case 23:\n                cmd(5);Serial.println(F(\"CMD 5\"));\n                irsend.sendRaw(data.raw, 73, khz);last_cmd_fan = 2;\n                break;\n              case 22:\n                cmd(2);Serial.println(F(\"CMD 2\"));\n                irsend.sendRaw(data.raw, 73, khz);last_cmd_fan = 2;\n                break;      \n            }\n        break;       \n    }\n  }\n}","outputs":1,"noerr":0,"x":600,"y":280,"wires":[["e87613fa.110b7"]]},{"id":"a58106a0.f17508","type":"function","z":"b6c4fe57.2d9a9","name":"set global last_values","func":"var publicVariables = {\"last_temp\":22, \"last_fan\":1};\nvar nodeId = msg.payload[\"nodeId\"].toString(16);\n//global.set(\"1234\", publicVariables);\nglobal.set(nodeId, publicVariables);\n\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":220,"wires":[["cd410c05.cf4a","119e92be.b0048d"]]},{"id":"cd410c05.cf4a","type":"function","z":"b6c4fe57.2d9a9","name":"get global last_values","func":"var strId = msg.payload[\"nodeId\"].toString(16);\nvar last_values = global.get(strId);\n\nif(last_values!==0){\n    msg.payload.last_temp = last_values.last_temp;\n    msg.payload.last_fan = last_values.last_fan;\n}else{\n    msg.payload.last_temp = 23;\n    msg.payload.last_fan = 1;\n    global.set(strId, {\"last_temp\":23, \"last_fan\":1});\n}\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":280,"wires":[["e232a07c.08daa","e1bb68ac.8a5168"]]},{"id":"119e92be.b0048d","type":"debug","z":"b6c4fe57.2d9a9","name":"debug set global","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":360,"y":180,"wires":[]},{"id":"e1bb68ac.8a5168","type":"debug","z":"b6c4fe57.2d9a9","name":"debug get global","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":220,"wires":[]},{"id":"2193fb40.ba0b34","type":"inject","z":"b6c4fe57.2d9a9","name":"go","topic":"","payload":"{\"nodeId\":11111,\"root\":true,\"subs\":[{\"nodeId\":2785975103}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":80,"wires":[["a58106a0.f17508"]]},{"id":"6400d92f.0c1628","type":"mqtt in","z":"b6c4fe57.2d9a9","name":"","topic":"painlessMesh/from/#","qos":"2","datatype":"auto","broker":"822ecd93.83d82","x":190,"y":760,"wires":[[]]},{"id":"d8b54563.ba2c08","type":"switch","z":"b6c4fe57.2d9a9","name":"switch IRType","property":"payload.IRType","propertyType":"msg","rules":[{"t":"eq","v":"7","vt":"num"},{"t":"eq","v":"15","vt":"num"},{"t":"eq","v":"23","vt":"num"},{"t":"eq","v":"30","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":480,"y":780,"wires":[[],[],[],[]]},{"id":"fb6caf0f.275e2","type":"debug","z":"b6c4fe57.2d9a9","name":"painlessMesh/from/#","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":140,"y":880,"wires":[]},{"id":"bf1ddd48.75fa5","type":"function","z":"b6c4fe57.2d9a9","name":"Cálculo ICS ","func":"/*temp = global.get(\"gtemp\");\nveloc = global.get(\"gveloc\");\nmsg.payload.temp = temp;\nmsg.payload.veloc = veloc;*/\n\n//msg.payload = global.get(\"gtemp\");\n\n a = 569.76047;\n b = 2.371385;\n c = -73.0640184;\n d = -0.04410662;\n e = 3.092796;\n f = -0.15052;\n g = 0.00004456901;\n h = -0.0432946;\n i = 0.002343330;\n j = 0.0016435087;\n\nfunction calculoics(temperatura, velocidade){\n  temp_quadrado = Math.pow(temperatura,2.0);\n  vel_quadrado = Math.pow(velocidade,2.0);\n  ics = 0.0;\n    \n    if(velocidade<0.0){\n          ics = a +  (c*temperatura) +  (e*temp_quadrado) +  (h*Math.pow(temperatura,3));\n    }else{\n          ics = a + (b/velocidade) + (c*temperatura) + (d/vel_quadrado)+ (e*temp_quadrado) + ((f*temperatura)/velocidade) + (g/Math.pow(velocidade,3)) + (h*Math.pow(temperatura,3)) + ((i*temp_quadrado)/velocidade)+((j*temperatura)/vel_quadrado);\n    }\n  return ics;\n}\n\nmsg.payload.ics = calculoics(msg.payload.temp,msg.payload.veloc)\n\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":460,"wires":[["c76c9914.fb64d8"]]},{"id":"7e34b75c.d8bea8","type":"debug","z":"b6c4fe57.2d9a9","name":"debug ICS calc","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":380,"y":880,"wires":[]},{"id":"c76c9914.fb64d8","type":"function","z":"b6c4fe57.2d9a9","name":"Define Set point","func":"var strId = msg.payload[\"nodeId\"].toString(16);\nvar last_values = global.get(strId) ||0;\n\nif(last_values!==0){\n    msg.payload.last_temp = last_values.last_temp;\n    msg.payload.last_fan = last_values.last_fan;\n}else{\n    msg.payload.last_temp = 23;\n    msg.payload.last_fan = 3;\n    global.set(strId, {\"last_temp\":23, \"last_fan\":3});\n}\n\nif (msg.payload.hasOwnProperty('ics')){\n    \n    var temp = msg.payload.temp;\n    var ics = msg.payload.ics;\n    var last_fan = msg.payload.last_fan;\n    var last_temp = msg.payload.last_temp;\n    \n    if(temp>25){\n        msg.payload.last_fan = 3;\n        msg.payload.last_temp = 22;\n        global.set(strId, {\"last_temp\":22, \"last_fan\":3});\n        return msg.payload;\n    }\n  \n  if (ics > 0.5){\n    \n        switch (last_fan) {\n          case 1:// Fan=1-> fan up\n            last_fan = 2;\n            break;\n          case 2:// Fan=2 -> fan up\n            last_fan = 3;\n            break;\n          case 3:// Temp down\n            if(last_temp>22){\n                last_temp = last_temp-1;\n            }\n            break;      \n        }\n    \n  }else if(ics < (-0.5)){\n      \n        switch (last_fan) {\n          case 1:// Temp up\n                if(last_temp<25){\n                    last_temp = last_temp+1;\n                }\n            break;\n          case 2:// Fan down\n                last_fan = 1;\n            break;\n          case 3:// Fan down\n                last_fan = 2;\n            break;       \n        }\n    \n  }\n  msg.payload.last_fan = last_fan;\n  msg.payload[\"last_temp\"] = last_temp;\n  global.set(strId, {\"last_temp\":last_temp, \"last_fan\":last_fan});\n}\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":460,"wires":[["16309d8e.1feb52","f96d9452.55b438","8f8fb0c1.e89df","fffd8844.7e71a8"]]},{"id":"ce04ff1f.9692","type":"function","z":"b6c4fe57.2d9a9","name":"Handle Coolix","func":"default_state = 0xB29F50;//temp=23,fan=4(min),Cool\nremote_state = default_state;\n\nCoolixFan = [0b100,0b010,0b001];//{\"min\":0b100,\"med\":0b010,\"max\":0b001};\nCoolixFanMask = 0b000000001110000000000000;  // 0x00E000\n\nCoolixOff = 0b101100100111101111100000;    // 0xB27BE0\n\nCoolixTempMin = 17;  // Celsius\nCoolixTempMax = 30;  // Celsius\nCoolixTempRange = CoolixTempMax - CoolixTempMin + 1;\nCoolixTempMask = 0b11110000;\nCoolixTempMap = [\n    0b0000,  // 17C\n    0b0001,  // 18c\n    0b0011,  // 19C\n    0b0010,  // 20C\n    0b0110,  // 21C\n    0b0111,  // 22C\n    0b0101,  // 23C\n    0b0100,  // 24C\n    0b1100,  // 25C\n    0b1101,  // 26C\n    0b1001,  // 27C\n    0b1000,  // 28C\n    0b1010,  // 29C\n    0b1011   // 30C\n];\n\nfunction setTemp( temp) {\n  t = Math.min(temp, CoolixTempMax);\n  t = Math.max(t, CoolixTempMin);\n  setTempRaw(CoolixTempMap[t- CoolixTempMin]);\n}\n\nfunction setTempRaw(code) {\n  remote_state &= ~CoolixTempMask;  // Clear the old temp.\n  remote_state |= (code << 4);\n}\n\nfunction setFan(speed) {\n  remote_state &= ~CoolixFanMask;\n  remote_state |= ((CoolixFan[speed+1] << 13) & CoolixFanMask);\n}\n\nsetTemp(msg.payload.temp);\nsetFan(msg.payload.fan);\n\nmsg.payload.IRCode = remote_state.toString(16);\nreturn msg;\n","outputs":1,"noerr":0,"x":280,"y":340,"wires":[["d5007d7c.5dca6"]]},{"id":"a51dd2b0.9b0e6","type":"inject","z":"b6c4fe57.2d9a9","name":"go","topic":"","payload":"{\"nodeId\":2786666964,\"root\":true,\"temp\":25,\"fan\":2}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":340,"wires":[["ce04ff1f.9692"]]},{"id":"d5007d7c.5dca6","type":"debug","z":"b6c4fe57.2d9a9","name":"debug prepare","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":460,"y":340,"wires":[]},{"id":"f96d9452.55b438","type":"function","z":"b6c4fe57.2d9a9","name":"IRType 15 - Coolix","func":"default_state = 0xB29F50;//temp=23,fan=4(min),Cool\nremote_state = default_state;\n\nCoolixFan = [0b100,0b010,0b001];//{\"min\":0b100,\"med\":0b010,\"max\":0b001};\nCoolixFanMask = 0b000000001110000000000000;  // 0x00E000\n\nCoolixOff = 0b101100100111101111100000;    // 0xB27BE0\n\nCoolixTempMin = 17;  // Celsius\nCoolixTempMax = 30;  // Celsius\nCoolixTempRange = CoolixTempMax - CoolixTempMin + 1;\nCoolixTempMask = 0b11110000;\nCoolixTempMap = [\n    0b0000,  // 17C\n    0b0001,  // 18c\n    0b0011,  // 19C\n    0b0010,  // 20C\n    0b0110,  // 21C\n    0b0111,  // 22C\n    0b0101,  // 23C\n    0b0100,  // 24C\n    0b1100,  // 25C\n    0b1101,  // 26C\n    0b1001,  // 27C\n    0b1000,  // 28C\n    0b1010,  // 29C\n    0b1011   // 30C\n];\n\nfunction setTemp( temp) {\n  t = Math.min(temp, CoolixTempMax);\n  t = Math.max(t, CoolixTempMin);\n  setTempRaw(CoolixTempMap[t- CoolixTempMin]);\n}\n\nfunction setTempRaw(code) {\n  remote_state &= ~CoolixTempMask;  // Clear the old temp.\n  remote_state |= (code << 4);\n}\n\nfunction setFan(speed) {\n  remote_state &= ~CoolixFanMask;\n  remote_state |= ((CoolixFan[speed-1] << 13) & CoolixFanMask);\n}\n\nsetTemp(msg.payload.last_temp);\nsetFan(msg.payload.last_fan);\n\nmsg.payload.IRCode = remote_state.toString(16);\nreturn msg;\n","outputs":1,"noerr":0,"x":530,"y":440,"wires":[["f324ffe8.9211d"]]},{"id":"fffd8844.7e71a8","type":"function","z":"b6c4fe57.2d9a9","name":"IRType 30 - RAW","func":"default_state = 0xB29F50;//temp=23,fan=4(min),Cool\nremote_state = default_state;\n\nCoolixFan = [0b100,0b010,0b001];//{\"min\":0b100,\"med\":0b010,\"max\":0b001};\nCoolixFanMask = 0b000000001110000000000000;  // 0x00E000\n\nCoolixOff = 0b101100100111101111100000;    // 0xB27BE0\n\nCoolixTempMin = 17;  // Celsius\nCoolixTempMax = 30;  // Celsius\nCoolixTempRange = CoolixTempMax - CoolixTempMin + 1;\nCoolixTempMask = 0b11110000;\nCoolixTempMap = [\n    0b0000,  // 17C\n    0b0001,  // 18c\n    0b0011,  // 19C\n    0b0010,  // 20C\n    0b0110,  // 21C\n    0b0111,  // 22C\n    0b0101,  // 23C\n    0b0100,  // 24C\n    0b1100,  // 25C\n    0b1101,  // 26C\n    0b1001,  // 27C\n    0b1000,  // 28C\n    0b1010,  // 29C\n    0b1011   // 30C\n];\n\nfunction setTemp( temp) {\n  t = Math.min(temp, CoolixTempMax);\n  t = Math.max(t, CoolixTempMin);\n  setTempRaw(CoolixTempMap[t- CoolixTempMin]);\n}\n\nfunction setTempRaw(code) {\n  remote_state &= ~CoolixTempMask;  // Clear the old temp.\n  remote_state |= (code << 4);\n}\n\nfunction setFan(speed) {\n  remote_state &= ~CoolixFanMask;\n  remote_state |= ((CoolixFan[speed+1] << 13) & CoolixFanMask);\n}\n\nsetTemp(msg.payload.temp);\nsetFan(msg.payload.fan);\n\nmsg.payload.IRCode = remote_state.toString(16);\nreturn msg;\n","outputs":1,"noerr":0,"x":530,"y":520,"wires":[["f324ffe8.9211d"]]},{"id":"16309d8e.1feb52","type":"function","z":"b6c4fe57.2d9a9","name":"IRType 7 - Samsung","func":"default_state = 0xB29F50;//temp=23,fan=4(min),Cool\nremote_state = default_state;\n\nCoolixFan = [0b100,0b010,0b001];//{\"min\":0b100,\"med\":0b010,\"max\":0b001};\nCoolixFanMask = 0b000000001110000000000000;  // 0x00E000\n\nCoolixOff = 0b101100100111101111100000;    // 0xB27BE0\n\nCoolixTempMin = 17;  // Celsius\nCoolixTempMax = 30;  // Celsius\nCoolixTempRange = CoolixTempMax - CoolixTempMin + 1;\nCoolixTempMask = 0b11110000;\nCoolixTempMap = [\n    0b0000,  // 17C\n    0b0001,  // 18c\n    0b0011,  // 19C\n    0b0010,  // 20C\n    0b0110,  // 21C\n    0b0111,  // 22C\n    0b0101,  // 23C\n    0b0100,  // 24C\n    0b1100,  // 25C\n    0b1101,  // 26C\n    0b1001,  // 27C\n    0b1000,  // 28C\n    0b1010,  // 29C\n    0b1011   // 30C\n];\n\nfunction setTemp( temp) {\n  t = Math.min(temp, CoolixTempMax);\n  t = Math.max(t, CoolixTempMin);\n  setTempRaw(CoolixTempMap[t- CoolixTempMin]);\n}\n\nfunction setTempRaw(code) {\n  remote_state &= ~CoolixTempMask;  // Clear the old temp.\n  remote_state |= (code << 4);\n}\n\nfunction setFan(speed) {\n  remote_state &= ~CoolixFanMask;\n  remote_state |= ((CoolixFan[speed+1] << 13) & CoolixFanMask);\n}\n\nsetTemp(msg.payload.temp);\nsetFan(msg.payload.fan);\n\nmsg.payload.IRCode = remote_state.toString(16);\nreturn msg;\n","outputs":1,"noerr":0,"x":540,"y":400,"wires":[["f324ffe8.9211d"]]},{"id":"8f8fb0c1.e89df","type":"function","z":"b6c4fe57.2d9a9","name":"IRType 23 - Gree","func":"//var rawcode =[4450,4350,550,1600,550,550,600,1500,600,1550,600,500,600,500,550,1550,600,500,600,500,600,1500,600,500,600,500,600,1550,550,1550,600,500,600,1500,600,500,600,500,550,1600,600,1500,600,1550,600,1500,600,1550,600,1500,600,1550,600,1550,600,450,550,550,550,550,550,550,550,550,550,550,500,550,550,1600,600,500,500,1600,550,550,550,550,550,550,500,600,500,1600,550,550,550,1550,550,550,550,1600,550,1550,550,1600,550,1600,500];\n\n//setTemp(msg.payload.temp);\n//setFan(msg.payload.fan);\nmat = [73];\nmat.t22f1 = [8980, 4454,  638, 1656,  640, 550,  638, 546,  640, 1662,  658, 1656,  638, 548,  638, 532,  656, 548,  638, 474,  712, 1654,  638, 1656,  638, 528,  658, 526,  660, 524,  662, 548,  638, 548,  638, 548,  638, 548,  638, 554,  634, 548,  640, 526,  660, 526,  660, 548,  638, 524,  664, 546,  638, 548,  638, 548,  638, 502,  684, 1634,  660, 552,  636, 1682,  612, 536,  650, 550,  638, 1662,  658, 514,  672];  // UNKNOWN B03F746B\n\n\n\nt22f1 = [8980, 4454,  638, 1656,  640, 550,  638, 546,  640, 1662,  658, 1656,  638, 548,  638, 532,  656, 548,  638, 474,  712, 1654,  638, 1656,  638, 528,  658, 526,  660, 524,  662, 548,  638, 548,  638, 548,  638, 548,  638, 554,  634, 548,  640, 526,  660, 526,  660, 548,  638, 524,  664, 546,  638, 548,  638, 548,  638, 502,  684, 1634,  660, 552,  636, 1682,  612, 536,  650, 550,  638, 1662,  658, 514,  672];  // UNKNOWN B03F746B\nt22f2 = [9002, 4432,  660, 1658,  638, 554,  634, 500,  686, 1680,  640, 528,  660, 1658,  638, 546,  640, 550,  636, 526,  660, 1656,  638, 1658,  638, 554,  634, 548,  638, 548,  636, 550,  638, 524,  662, 508,  680, 506,  680, 526,  660, 548,  638, 532,  656, 548,  640, 548,  638, 526,  660, 524,  664, 548,  638, 550,  638, 550,  636, 1654,  638, 550,  636, 1680,  616, 548,  640, 550,  636, 1684,  638, 550,  636];  // UNKNOWN 79EA01A1\nt22f3 = [8980, 4456,  638, 1654,  640, 548,  638, 524,  664, 1682,  638, 1654,  640, 1634,  660, 548,  640, 542,  646, 520,  666, 1658,  638, 1638,  656, 574,  614, 526,  660, 526,  662, 572,  614, 574,  612, 530,  658, 526,  660, 548,  638, 528,  660, 524,  662, 530,  656, 526,  662, 526,  660, 550,  636, 554,  634, 524,  662, 552,  634, 1660,  634, 574,  612, 1682,  638, 536,  650, 504,  684, 1644,  650, 506,  682];  // UNKNOWN 119F5AF7\n\nt23f1 = [9030, 4440,  654, 1656,  640, 544,  640, 524,  664, 1656,  664, 1636,  660, 546,  640, 526,  662, 544,  642, 1652,  642, 1656,  640, 1680,  616, 572,  612, 550,  638, 572,  614, 548,  638, 576,  610, 574,  612, 546,  640, 546,  640, 548,  638, 524,  662, 546,  640, 546,  640, 526,  660, 546,  642, 548,  640, 550,  636, 548,  640, 1682,  612, 550,  636, 1686,  636, 544,  640, 526,  660, 1656,  640, 546,  640];  // UNKNOWN 7165F73B\nt23f2 = [9020, 4430,  662, 1658,  636, 528,  660, 546,  640, 1668,  654, 548,  640, 1634,  660, 550,  636, 526,  660, 1656,  640, 1610,  684, 1682,  614, 576,  612, 574,  612, 552,  634, 552,  634, 572,  616, 530,  654, 550,  636, 548,  640, 546,  640, 548,  638, 528,  658, 550,  638, 550,  636, 526,  662, 540,  646, 548,  638, 554,  634, 1686,  608, 578,  610, 1682,  638, 550,  640, 546,  638, 1658,  636, 548,  638];  // UNKNOWN 2C416AA9\nmat.t23f3 = [9002, 4452,  640, 1660,  634, 524,  662, 498,  688, 1682,  638, 1656,  640, 1656,  640, 534,  652, 546,  640, 1612,  682, 1684,  610, 1662,  660, 552,  636, 504,  682, 546,  640, 546,  640, 526,  660, 548,  638, 552,  636, 512,  674, 502,  686, 528,  660, 548,  640, 526,  660, 526,  634, 574,  612, 528,  658, 574,  614, 560,  628, 1680,  640, 540,  648, 1656,  638, 552,  636, 546,  640, 1656,  638, 548,  638];  // UNKNOWN D2C5DDC7\n\nt24f1 = [8978, 4454,  638, 1614,  682, 546,  640, 532,  654, 1656,  664, 1656,  640, 548,  638, 548,  638, 526,  660, 512,  674, 514,  672, 546,  640, 1654,  640, 502,  686, 528,  660, 526,  658, 548,  640, 524,  662, 524,  664, 546,  638, 550,  638, 532,  654, 548,  638, 548,  640, 470,  716, 548,  638, 548,  640, 548,  638, 548,  638, 1656,  638, 548,  640, 1656,  638, 510,  676, 548,  638, 1654,  640, 530,  656];  // UNKNOWN 3685E71F\nt24f2 = [8976, 4412,  680, 1658,  638, 548,  638, 548,  640, 1682,  640, 546,  642, 1632,  662, 552,  636, 546,  640, 528,  658, 546,  642, 548,  638, 1656,  640, 548,  638, 548,  638, 552,  636, 548,  638, 494,  692, 476,  710, 524,  662, 524,  660, 548,  640, 550,  636, 552,  634, 548,  638, 546,  640, 526,  662, 546,  640, 502,  684, 1656,  638, 550,  638, 1632,  660, 504,  682, 516,  672, 1658,  636, 550,  638];  // UNKNOWN A52ABF15\nt24f3 = [8980, 4452,  642, 1634,  658, 524,  664, 504,  682, 1682,  638, 1656,  638, 1656,  640, 526,  662, 546,  640, 506,  680, 546,  640, 548,  638, 1658,  638, 548,  640, 528,  658, 528,  660, 546,  640, 548,  638, 552,  636, 548,  640, 546,  640, 524,  662, 524,  662, 546,  640, 548,  638, 522,  666, 548,  638, 552,  634, 504,  682, 1636,  658, 524,  662, 1672,  622, 548,  640, 548,  638, 1682,  640, 546,  640];  // UNKNOWN 97E5CDAB\n\nt25f1 = [8980, 4454,  640, 1656,  638, 524,  662, 498,  688, 1666,  654, 1658,  638, 548,  640, 546,  640, 548,  638, 1634,  660, 552,  636, 548,  638, 1658,  636, 526,  662, 526,  660, 548,  640, 524,  662, 546,  640, 526,  660, 548,  638, 530,  658, 532,  654, 548,  638, 502,  684, 548,  640, 548,  638, 528,  660, 550,  636, 548,  638, 1656,  638, 550,  638, 1682,  612, 550,  638, 548,  638, 1682,  638, 530,  658];  // UNKNOWN 6EDB1605\nt25f2 = [8994, 4454,  640, 1656,  638, 548,  640, 548,  638, 1684,  638, 554,  632, 1656,  638, 556,  632, 548,  638, 1658,  636, 542,  644, 524,  664, 1654,  640, 548,  638, 502,  686, 550,  636, 546,  640, 526,  662, 550,  638, 528,  658, 548,  640, 548,  640, 548,  638, 548,  638, 550,  638, 528,  658, 546,  640, 550,  636, 548,  638, 1656,  640, 550,  638, 1670,  622, 526,  662, 552,  634, 1682,  638, 558,  630];  // UNKNOWN E0537C07\nt25f3 = [8982, 4452,  640, 1656,  640, 550,  636, 526,  662, 1680,  642, 1606,  686, 1656,  638, 524,  664, 548,  638, 1656,  638, 574,  614, 546,  640, 1676,  616, 574,  614, 572,  614, 552,  636, 552,  634, 574,  614, 548,  638, 536,  650, 500,  688, 528,  658, 524,  662, 510,  676, 548,  638, 550,  638, 550,  638, 546,  640, 528,  658, 1684,  610, 582,  606, 1686,  636, 550,  638, 524,  662, 1656,  638, 550,  638];  // UNKNOWN D03AFC91\n\ncmd_off = [8980, 4454,  638, 1638,  658, 598,  590, 574,  612, 576,  610, 1684,  638, 1656,  638, 550,  638, 546,  638, 1656,  638, 552,  636, 516,  672, 1640,  654, 552,  634, 550,  636, 552,  634, 532,  654, 548,  638, 550,  638, 528,  658, 526,  662, 548,  638, 550,  636, 550,  636, 526,  660, 548,  638, 548,  638, 504,  684, 548,  638, 1660,  634, 550,  638, 1640,  680, 548,  614, 524,  662, 1682,  638, 574,  614];  // UNKNOWN 61D89B41\n\ntemp = msg.payload.last_temp;\nfan = msg.payload.last_fan;\n\nif(temp===0 & fan===0) {\n    msg.payload.IRRawCode = cmd_off;\n}else{\n    msg.payload.IRRawCode = mat[\"t\"+temp.toString()+\"f\"+fan.toString()];\n}\n//if(temp===0 & fan===0) msg.payload.IRRawCode = cmd_off;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":530,"y":480,"wires":[["f324ffe8.9211d"]]},{"id":"ab235e0.8e8a8a","type":"debug","z":"b6c4fe57.2d9a9","name":"debug Coolix","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":920,"wires":[]},{"id":"ef31546c.c29ce8","type":"debug","z":"b6c4fe57.2d9a9","name":"debug Gree","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":920,"wires":[]},{"id":"4f419541.9da16c","type":"inject","z":"b6c4fe57.2d9a9","name":"IRType Coolix","topic":"topicccc","payload":"{\"nodeId\":1234,\"nameId\":\"gerac\",\"temp\":25,\"veloc\":1,\"IRType\":15}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":920,"wires":[[]]},{"id":"63aed26a.a0662c","type":"debug","z":"b6c4fe57.2d9a9","name":"debug inputGerac","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":920,"wires":[]},{"id":"675d2f73.5fae5","type":"inject","z":"b6c4fe57.2d9a9","name":"IRType Gree","topic":"topicccc","payload":"{\"nodeId\":4321,\"nameId\":\"salax\",\"temp\":25,\"veloc\":1,\"IRType\":23}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":920,"wires":[[]]},{"id":"6a5adac7.81bf34","type":"ui_dropdown","z":"4f988cd7.cec914","name":" drop temp","label":"Temperatura","tooltip":"Set temp","place":"Select option","group":"da398c46.00687","order":7,"width":4,"height":1,"passthru":false,"options":[{"label":"22°","value":22,"type":"num"},{"label":"23°","value":23,"type":"num"},{"label":"24º","value":24,"type":"num"},{"label":"25º","value":25,"type":"num"}],"payload":"","topic":"","x":160,"y":200,"wires":[["b5b8cbc8.8a8eb8"]]},{"id":"7d76f8af.654488","type":"ui_dropdown","z":"4f988cd7.cec914","name":"drop fan","label":"Fan","tooltip":"Set fan","place":"Select option","group":"da398c46.00687","order":8,"width":3,"height":1,"passthru":false,"options":[{"label":"Mín","value":1,"type":"num"},{"label":"Med","value":2,"type":"num"},{"label":"Máx","value":3,"type":"num"}],"payload":"","topic":"","x":160,"y":160,"wires":[["cdc84125.83bef"]]},{"id":"1a455ae2.7379c5","type":"ui_dropdown","z":"4f988cd7.cec914","name":"drop modo","label":"Modo de operação","tooltip":"Set modo","place":"Select option","group":"da398c46.00687","order":5,"width":5,"height":1,"passthru":false,"options":[{"label":"Manual","value":"Manual","type":"str"},{"label":"Autônomo","value":"Autônomo","type":"str"},{"label":"Desligado","value":"Desligado","type":"str"}],"payload":"","topic":"","x":170,"y":120,"wires":[["c3302cf9.f5fdb"]]},{"id":"10497a6f.b3caf6","type":"function","z":"4f988cd7.cec914","name":"Set color mode/status","func":"modeArray = {\"Manual\":\"yellow\",\"Autônomo\":\"lime\",\"Desligado\":\"red\"};\n\nlocal = global.get(\"ambiente\")||0;\nmode = global.get(\"mode\")||0;\nmsg.payload = {};\nmsg.payload.mode = mode;\nmsg.payload.colorMode = modeArray[mode];\nmsg.payload.temp = global.get(\"temp\")||0;\nmsg.payload.fan = global.get(\"fan\")||0;\n\nconectado = true;\nif(conectado){\n    msg.payload.colorStatus = \"lime\";\n    msg.payload.nameStatus = \"online\";\n}else{\n    msg.payload.colorStatus = \"red\";\n    msg.payload.nameStatus = \"offline\";\n}\nmsg.payload.flag = 0;\n\nif(local === 0){\n    msg.payload.flag = \"ambiente\"; \n}else if(mode===0){\n    msg.payload.flag = \"mode\";\n}else if(msg.payload.temp===0){\n    msg.payload.flag = \"temp\";\n}else if(msg.payload.fan===0){\n    msg.payload.flag = \"fan\";\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":200,"y":300,"wires":[["a55b02a7.30751"]]},{"id":"c28acfb.88f2d3","type":"ui_text","z":"4f988cd7.cec914","group":"c98422b2.87c7e","order":2,"width":3,"height":1,"name":"Operação","label":"Operação:","format":"<font color= {{msg.payload.colorMode}} > {{msg.payload.mode}} </font>","layout":"col-center","x":660,"y":180,"wires":[]},{"id":"e23338c4.cff008","type":"ui_text","z":"4f988cd7.cec914","group":"c98422b2.87c7e","order":1,"width":3,"height":1,"name":"Conexão","label":"Conexão:","format":"<font color= {{msg.payload.colorStatus}} > {{msg.payload.nameStatus}} </font>","layout":"col-center","x":660,"y":140,"wires":[]},{"id":"9ab03092.657","type":"ui_dropdown","z":"4f988cd7.cec914","name":"drop ambiente","label":"Ambiente","tooltip":"Set local","place":"Select option","group":"da398c46.00687","order":1,"width":4,"height":1,"passthru":false,"options":[{"label":"Gerac","value":"Gerac","type":"str"},{"label":"Sala 1","value":"Sala 1","type":"str"},{"label":"Sala 2","value":"Sala 2","type":"str"}],"payload":"","topic":"","x":180,"y":80,"wires":[["d7ba920f.bdb5c"]]},{"id":"d7ba920f.bdb5c","type":"function","z":"4f988cd7.cec914","name":"set global ambiente","func":"\nglobal.set(\"ambiente\", msg.payload);\n//global.set(nodeId, publicVariables);\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":80,"wires":[[]]},{"id":"a76952d.7364cb","type":"ui_button","z":"4f988cd7.cec914","name":"","group":"da398c46.00687","order":3,"width":5,"height":1,"passthru":false,"label":"Enviar set point","tooltip":"","color":"","bgcolor":"","icon":"ac_unit","payload":"true","payloadType":"bool","topic":"","x":120,"y":240,"wires":[["10497a6f.b3caf6"]]},{"id":"c3302cf9.f5fdb","type":"function","z":"4f988cd7.cec914","name":"set global mode","func":"\nglobal.set(\"mode\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":120,"wires":[[]]},{"id":"cdc84125.83bef","type":"function","z":"4f988cd7.cec914","name":"set global fan","func":"\nglobal.set(\"fan\", msg.payload);\n//global.set(nodeId, publicVariables);\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":160,"wires":[[]]},{"id":"b5b8cbc8.8a8eb8","type":"function","z":"4f988cd7.cec914","name":"set global temp","func":"\nglobal.set(\"temp\", msg.payload);\n//global.set(nodeId, publicVariables);\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":200,"wires":[[]]},{"id":"a55b02a7.30751","type":"switch","z":"4f988cd7.cec914","name":"switchhhhhh","property":"ambiente","propertyType":"global","rules":[{"t":"cont","v":"Gerac","vt":"str"},{"t":"cont","v":"Sala 1","vt":"str"},{"t":"cont","v":"Sala 2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":410,"y":320,"wires":[["e23338c4.cff008","c28acfb.88f2d3","c6d8e9fb.b0f368","a21180fe.714b7"],["91d2c5a2.6ed7f8","796a8eec.58796","f5b6fc40.5fae"],["8fc84a05.a13918","415fdbe5.de1bc4","3ec4c940.0886e6"]]},{"id":"796a8eec.58796","type":"ui_text","z":"4f988cd7.cec914","group":"34ff77b0.26dd98","order":2,"width":3,"height":1,"name":"Operação","label":"Operação:","format":"<font color= {{msg.payload.colorMode}} > {{msg.payload.mode}} </font>","layout":"col-center","x":680,"y":280,"wires":[]},{"id":"91d2c5a2.6ed7f8","type":"ui_text","z":"4f988cd7.cec914","group":"34ff77b0.26dd98","order":1,"width":3,"height":1,"name":"Conexão","label":"Conexão:","format":"<font color= {{msg.payload.colorStatus}} > {{msg.payload.nameStatus}} </font>","layout":"col-center","x":680,"y":240,"wires":[]},{"id":"415fdbe5.de1bc4","type":"ui_text","z":"4f988cd7.cec914","group":"d7d4bfda.c8dec","order":2,"width":3,"height":1,"name":"Operação","label":"Operação:","format":"<font color= {{msg.payload.colorMode}} > {{msg.payload.mode}} </font>","layout":"col-center","x":700,"y":380,"wires":[]},{"id":"8fc84a05.a13918","type":"ui_text","z":"4f988cd7.cec914","group":"d7d4bfda.c8dec","order":1,"width":3,"height":1,"name":"Conexão","label":"Conexão:","format":"<font color= {{msg.payload.colorStatus}} > {{msg.payload.nameStatus}} </font>","layout":"col-center","x":700,"y":340,"wires":[]},{"id":"c6d8e9fb.b0f368","type":"function","z":"4f988cd7.cec914","name":"IRType 15 - Coolix","func":"default_state = 0xB29F50;//temp=23,fan=4(min),Cool\nremote_state = default_state;\n\nCoolixFan = [0b100,0b010,0b001];//{\"min\":0b100,\"med\":0b010,\"max\":0b001};\nCoolixFanMask = 0b000000001110000000000000;  // 0x00E000\n\n//CoolixOff = 0b101100100111101111100000;    // 0xB27BE0\nCoolixOff = 0xB27BE0;\n\nCoolixTempMin = 17;  // Celsius\nCoolixTempMax = 30;  // Celsius\nCoolixTempRange = CoolixTempMax - CoolixTempMin + 1;\nCoolixTempMask = 0b11110000;\nCoolixTempMap = [\n    0b0000,  // 17C\n    0b0001,  // 18c\n    0b0011,  // 19C\n    0b0010,  // 20C\n    0b0110,  // 21C\n    0b0111,  // 22C\n    0b0101,  // 23C\n    0b0100,  // 24C\n    0b1100,  // 25C\n    0b1101,  // 26C\n    0b1001,  // 27C\n    0b1000,  // 28C\n    0b1010,  // 29C\n    0b1011   // 30C\n];\n\nfunction setTemp( temp) {\n  t = Math.min(temp, CoolixTempMax);\n  t = Math.max(t, CoolixTempMin);\n  setTempRaw(CoolixTempMap[t- CoolixTempMin]);\n}\n\nfunction setTempRaw(code) {\n  remote_state &= ~CoolixTempMask;  // Clear the old temp.\n  remote_state |= (code << 4);\n}\n\nfunction setFan(speed) {\n  remote_state &= ~CoolixFanMask;\n  remote_state |= ((CoolixFan[speed-1] << 13) & CoolixFanMask);\n}\naux = msg.payload.mode;\nsetTemp(msg.payload.temp);\nsetFan(msg.payload.fan);\nmsg.payload = {};\n\nmsg.payload.msgType = \"sendIR\";\nmsg.payload.IRtype = 15;\nmsg.payload.IRbits = 24;\nmsg.payload.IRrepeat = 0;\nmsg.payload.nodeId = 1234;\nmsg.payload.nameId = \"gerac\";\n\nif (aux == \"Desligado\"){\n    msg.payload.IRCode = CoolixOff.toString(16);\n}else{\n    msg.payload.IRCode = remote_state.toString(16);\n}\n//\"msgType\":\"sendIR\",\"IRcode\":\"0xB25F70\",\"IRtype\":15,\"IRbits\":24,\"IRrepeat\":0,\n\nreturn msg;\n","outputs":1,"noerr":0,"x":710,"y":60,"wires":[["c5718036.ba368","3a3b8f8e.bb471"]]},{"id":"c5718036.ba368","type":"debug","z":"4f988cd7.cec914","name":"debug Coolix","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":60,"wires":[]},{"id":"537c60d4.b6ea6","type":"change","z":"760f69fa.94f578","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"<i class=\"fa fa-rotate-90 fa-folder-open-o\"></i> OPEN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":160,"wires":[[]]},{"id":"202776d8.af7dea","type":"inject","z":"760f69fa.94f578","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":110,"y":140,"wires":[["ec51c93e.297b68"]]},{"id":"ec51c93e.297b68","type":"function","z":"760f69fa.94f578","name":"state","func":"var state = context.get(\"modeState\") || \"Auto\";\nmsg.payload={};\nswitch (state) {\n          case \"Manual\":\n            msg.payload.color = \"lime\";\n            msg.payload.aux = \"Auto\";\n            context.set(\"modeState\", \"Auto\");\n            break;\n          case \"Auto\":\n            msg.payload.color = \"red\"\n            msg.payload.aux = \"Desligado\";\n            context.set(\"modeState\", \"Desligado\");\n            break;\n          case \"Desligado\":\n            msg.payload.color = \"yellow\"\n            msg.payload.aux = \"Manual\";\n            context.set(\"modeState\", \"Manual\");\n            break;      \n        }\n\nreturn msg;\n\n\n\n//state = !state;\n//context.state = state;\n//if (state) { return [msg,null]; }\n//else { return [null,msg]; }\n","outputs":1,"noerr":0,"x":115,"y":240,"wires":[["28b34d79.cdcee2","669be367.08294c"]]},{"id":"894c6e8a.ec225","type":"change","z":"760f69fa.94f578","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"<i class=\"fa fa-rotate-90 fa-folder-o\"></i> Closed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":200,"wires":[[]]},{"id":"e32c0f0c.80081","type":"ui_slider","z":"760f69fa.94f578","name":"","label":"Fan","tooltip":"","group":"c68d3cd6.2b61a","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"1","max":"3","step":1,"x":320,"y":360,"wires":[["69d7e065.5c5a9"]]},{"id":"b898dba6.388578","type":"ui_numeric","z":"760f69fa.94f578","name":"","label":"Temperatura","tooltip":"","group":"c68d3cd6.2b61a","order":2,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":"22","max":"25","step":1,"x":350,"y":520,"wires":[["69d7e065.5c5a9"]]},{"id":"69d7e065.5c5a9","type":"debug","z":"760f69fa.94f578","name":"debug 111","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":340,"wires":[]},{"id":"fd1fa658.a4ca98","type":"debug","z":"760f69fa.94f578","name":"debug a","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":520,"y":160,"wires":[]},{"id":"28b34d79.cdcee2","type":"debug","z":"760f69fa.94f578","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":160,"y":320,"wires":[]},{"id":"669be367.08294c","type":"ui_button","z":"760f69fa.94f578","name":"","group":"c68d3cd6.2b61a","order":0,"width":"0","height":"0","passthru":false,"label":"{{payload.aux}}","tooltip":"","color":"","bgcolor":"{{payload.color}}","icon":"ac_unit","payload":"msg","payloadType":"flow","topic":"","x":490,"y":240,"wires":[["ec51c93e.297b68","fd1fa658.a4ca98"]]},{"id":"3a3b8f8e.bb471","type":"mqtt out","z":"4f988cd7.cec914","name":"","topic":"painlessMesh/to/gateway","qos":"","retain":"","broker":"822ecd93.83d82","x":870,"y":160,"wires":[]},{"id":"3948e0e2.e917d","type":"ui_slider","z":"760f69fa.94f578","name":"","label":"slider temp","tooltip":"","group":"c68d3cd6.2b61a","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"22","max":"25","step":1,"x":350,"y":440,"wires":[[]]},{"id":"271ff10a.c57c2e","type":"switch","z":"54f33258.a06dbc","name":"ON/OFF state","property":"switch","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":240,"wires":[["2b7b21b0.24bb2e"],["7600017.024d1"]]},{"id":"2b7b21b0.24bb2e","type":"function","z":"54f33258.a06dbc","name":"if is on","func":"msg.color = \"black\";\nmsg.background = \"#EF2F4F\";\nmsg.text = \"TURN OFF\";\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":200,"wires":[["84d71752.136aa8"]]},{"id":"7600017.024d1","type":"function","z":"54f33258.a06dbc","name":"if its off","func":"msg.color = \"black\";\nmsg.background = \"#B4EEB4\";\nmsg.text = \"TURN ON\";\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":260,"wires":[["84d71752.136aa8"]]},{"id":"84d71752.136aa8","type":"ui_button","z":"54f33258.a06dbc","name":"on/off","group":"ca9c71b4.b1c5e","order":5,"width":"7","height":"1","passthru":false,"label":"{{msg.text}}","tooltip":"","color":"{{msg.color}}","bgcolor":"{{msg.background}}","icon":"ac_unit","payload":"none","payloadType":"str","topic":"button","x":770,"y":220,"wires":[["3f86ed79.23f092"]]},{"id":"3f86ed79.23f092","type":"switch","z":"54f33258.a06dbc","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"button","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":890,"y":220,"wires":[["a04721bb.01859"]]},{"id":"e26d42b2.975d3","type":"inject","z":"54f33258.a06dbc","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"3","x":130,"y":140,"wires":[["e5bf7670.c3af68"]]},{"id":"e5bf7670.c3af68","type":"change","z":"54f33258.a06dbc","name":"global switch start","rules":[{"t":"set","p":"switch","pt":"global","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":140,"wires":[[]]},{"id":"98a88f3f.5cc7c","type":"inject","z":"54f33258.a06dbc","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.1","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":240,"wires":[["7e00f19d.7166c"]]},{"id":"a04721bb.01859","type":"function","z":"54f33258.a06dbc","name":"","func":"var obtaindata = global.get (\"switch\")\nif (obtaindata == \"1\"){msg.payload = 0}\nif (obtaindata == \"0\"){msg.payload = 1}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1010,"y":220,"wires":[["7ba7e7f.a3dec18","4ffde7d0.b1d9e8"]]},{"id":"7ba7e7f.a3dec18","type":"debug","z":"54f33258.a06dbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1310,"y":220,"wires":[]},{"id":"4ffde7d0.b1d9e8","type":"change","z":"54f33258.a06dbc","name":"re-wirte switch variable","rules":[{"t":"move","p":"payload","pt":"msg","to":"switch","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":160,"wires":[[]]},{"id":"8c570188.95212","type":"inject","z":"54f33258.a06dbc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":740,"y":300,"wires":[["3c201bff.d91884"]]},{"id":"3c201bff.d91884","type":"function","z":"54f33258.a06dbc","name":"check variable value for debug","func":"var obtaindata = global.get (\"switch\");\nmsg.payload = obtaindata;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":990,"y":300,"wires":[["7ba7e7f.a3dec18"]]},{"id":"7e00f19d.7166c","type":"function","z":"54f33258.a06dbc","name":"","func":"var obtaindata = global.get (\"switch\");\nmsg.payload = obtaindata;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":270,"y":240,"wires":[["271ff10a.c57c2e"]]},{"id":"2ce3b078.1924","type":"mqtt out","z":"b6c4fe57.2d9a9","name":"","topic":"painlessMesh/to/gateway","qos":"","retain":"","broker":"822ecd93.83d82","x":1030,"y":860,"wires":[]},{"id":"4de0217b.858b2","type":"mqtt in","z":"b6c4fe57.2d9a9","name":"","topic":"MQTTfromMESH","qos":"2","datatype":"auto","broker":"822ecd93.83d82","x":100,"y":400,"wires":[["bf1ddd48.75fa5"]]},{"id":"f324ffe8.9211d","type":"mqtt out","z":"b6c4fe57.2d9a9","name":"","topic":"MQTT/to/MESH","qos":"","retain":"","broker":"822ecd93.83d82","x":780,"y":460,"wires":[]},{"id":"d318626e.995dc","type":"inject","z":"36f11493.55142c","name":"sala1","topic":"","payload":"24","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":240,"wires":[["9fd57574.1df738","52b52d9e.14ab84"]]},{"id":"b54028ee.140578","type":"inject","z":"36f11493.55142c","name":"sala1","topic":"","payload":"28","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":600,"wires":[["291c766b.b78eaa"]]},{"id":"9335158b.247548","type":"inject","z":"36f11493.55142c","name":"sala1","topic":"","payload":"0.4","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":540,"wires":[["44e67821.2d8078"]]},{"id":"f213dc32.366f6","type":"inject","z":"36f11493.55142c","name":"sala1","topic":"","payload":"0.6","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":200,"wires":[["74beada7.3c3384"]]},{"id":"79056d18.48e964","type":"inject","z":"36f11493.55142c","name":"sala1","topic":"","payload":"0.3","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":300,"wires":[["83b9589e.2f1468"]]},{"id":"d6ed6e38.2502f","type":"inject","z":"36f11493.55142c","name":"sala1","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":660,"wires":[["5583adfe.f828f4"]]},{"id":"a5bf45c7.39a558","type":"inject","z":"36f11493.55142c","name":"sala1","topic":"","payload":"0.7","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":800,"wires":[["94c9431d.563cf"]]},{"id":"8d187f61.3fa0d","type":"inject","z":"36f11493.55142c","name":"sala1","topic":"","payload":"-0.3","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":450,"y":260,"wires":[["45d38163.477fc"]]},{"id":"6d777a3a.01d564","type":"inject","z":"4e3e6cd6.398944","name":"Inject structure 3 níveis","topic":"","payload":"{\"nodeId\":2786666964,\"root\":true,\"subs\":[{\"nodeId\":3958217030,\"subs\":[{\"nodeId\":2785975103},{\"nodeId\":3958269898}]}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":560,"wires":[["b8b52942.458828"]]},{"id":"3ec4c940.0886e6","type":"debug","z":"4f988cd7.cec914","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":520,"y":480,"wires":[]},{"id":"f5b6fc40.5fae","type":"debug","z":"4f988cd7.cec914","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":520,"y":440,"wires":[]},{"id":"a21180fe.714b7","type":"debug","z":"4f988cd7.cec914","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":520,"y":400,"wires":[]},{"id":"da08c138.87d97","type":"ui_toast","z":"4f988cd7.cec914","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":310,"y":460,"wires":[]},{"id":"922f.d032cdd13","type":"debug","z":"4f988cd7.cec914","name":"debug a","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":280,"y":420,"wires":[]},{"id":"71e4457c.6031ec","type":"switch","z":"4f988cd7.cec914","name":"switch IRType","property":"payload.flag","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"ambiente","vt":"str"},{"t":"eq","v":"mode","vt":"str"},{"t":"eq","v":"temp","vt":"str"},{"t":"eq","v":"fan","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":100,"y":440,"wires":[["922f.d032cdd13"],["da08c138.87d97"],[],[],[]]},{"id":"e474bffc.866ce","type":"function","z":"98f1c462.0da378","name":"prepare treeStructure","func":"var temp  = [];\nvar nameMap= {\"2786666964\":\"Gerac\",\"2785975103\":\"Sala 1\",\"3958269898\":\"Sala 2\",\"3958217030\":\"Router\"}\n/*{\n    \"nodeId\": 2786666964,\n    \"root\": true,\n    \"subs\": [\n        {\n            \"nodeId\": 3958217030,\n            \"subs\": [\n                {\n                    \"nodeId\": 2785975103,\n                    \"nodeId\": 3958269898\n                }\n            ]\n        }\n    ]\n}*/\n//var nameaux = nameMap[msg.payload.nodeId];\n//msg.payload = nameaux;\n//return msg; \n\nObject.size = function (obj) {\n    var size = 0, key;\n    for(key in obj) {\n        if(obj.hasOwnProperty(key))\n        size++;\n    }\n    return size;\n};\n//{\"nodeId\":2786666964,\"root\":true,\"subs\":[{\"nodeId\":2785975103}]}\nif (msg.payload.hasOwnProperty('nodeId') & msg.payload.hasOwnProperty('root')){//   Nível Root - red  \n    //msg.payload = Object.keys(msg.payload[\"subs\"]).length;\n\n    msg.payload[\"name\"]= nameMap[msg.payload.nodeId];\n    //msg.payload[\"name\"]=\"gerac\";\n    msg.payload[\"status\"]=\"red\";\n    msg.payload[\"parent\"]= \"null\";\n    \n    // Root contain subs connection\n    if (msg.payload.hasOwnProperty('subs')){\n        var size2 = Object.size(msg.payload.subs);\n        msg.payload.children=msg.payload.subs;\n        delete msg.payload.subs;\n\n        for(var i2=0; i2<size2; i2++){// Nível 2 - orange\n            msg.payload.children[i2][\"name\"]=nameMap[msg.payload.children[i2].nodeId];\n            msg.payload.children[i2][\"status\"]=\"orange\";\n            msg.payload.children[i2][\"parent\"]= msg.payload[\"name\"];\n            \n            if (msg.payload.children[i2].hasOwnProperty('subs')){\n                var size3 = Object.size(msg.payload.children[i2].subs);\n                msg.payload.children[i2].children=msg.payload.children[i2].subs;\n                delete msg.payload.children[i2].subs;\n        \n                for(var i3=0; i3<size3; i3++){// Nível 3 - blue\n                    msg.payload.children[i2].children[i3][\"name\"]=nameMap[msg.payload.children[i2].children[i3].nodeId]\n                    msg.payload.children[i2].children[i3][\"status\"]=\"blue\";\n                    msg.payload.children[i2].children[i3][\"parent\"]= msg.payload.children[i2][\"name\"]; \n\n                    if (msg.payload.children[i2].children[i3].hasOwnProperty('subs')){\n                        var size4 = Object.size(msg.payload.children[i2].children[i3].subs);\n                        msg.payload.children[i2].children[i3].children=msg.payload.children[i2].children[i3].subs;\n                        delete msg.payload.children[i2].children[i3].subs;\n                \n                        for(var i4=0; i4<size4; i4++){// Nível 4 - green\n                            msg.payload.children[i2].children[i3].children[i4][\"name\"]=nameMap[msg.payload.children[i2].children[i3].children[i4].nodeId]\n                            msg.payload.children[i2].children[i3].children[i4][\"status\"]=\"green\";\n                            msg.payload.children[i2].children[i3].children[i4][\"parent\"]= msg.payload.children[i2].children[i3][\"name\"];        \n                        }\n                    }//else{msg.payload = \" não contem subs nível 4 - green \";}       \n                }\n            }//else{msg.payload = \" não contem subs nível 3 - blue \";}\n        }\n    }//else{msg.payload = \"não contem subs nível 2 - orange \";}\n    \n    //msg.payload.subs[0][\"nameId\"]=\"sala2\";\n    //msg.payload.children=msg.payload.subs;\n    //delete msg.payload.subs;\n}else {\n    msg.payload = \"não contem root\";\n    \n}\n\ntemp.push(msg.payload);\n//{\"nodeId\":2786666964,\"root\":true,\"subs\":[{\"nodeId\":2785975103}]}\nvar inject= {\"nodeId\":2786666964,\"root\":true,\"subs\":\n                    [\n                        {\"nodeId\":2785975103, \"subs\":\n                                    [\n                                        {\"nodeId\":3333,  \"subs\":\n                                                [\n                                                    {\"nodeId\":4444\n                                                    }\n                                                ]\n                                        }\n\n                                    ]\n                        }\n                    ]\n\n            };\n\n\n\nvar treeData = [\n\n  \n            {\n                \"name\": \"Gerac\",\n                \"parent\": \"null\",\n                \"status\": \"red\",\n                \"children\": [\n                    {\n                        \"name\": \"Sala 1\",\n                        \"parent\": \"Gerac\",\n                        \"status\": \"green\",\n                        \"children\": []\n                    },\n                    {\n                        \"name\": \"Sala 2\",\n                        \"status\": \"green\",\n                        \"parent\": \"Gerac\",\n                        \"children\": [ \n                            {\n                                \"name\": \"Sala 3\",\n                                \"status\": \"green\",\n                                \"parent\": \"Sala 2\",\n                                \"children\": []\n                            }\n                        ]\n                    },\n                    {\n                        \"name\": \"Level 2-C\",\n                        \"parent\": \"Gerac\",\n                        \"status\": \"green\",\n                        \"children\": []\n                    }\n                ]\n            }  \n];\n//msg.payload= treeData ;\nmsg.payload = { \"treeData\": temp };\n//msg.payload = temp;\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":600,"wires":[["a5e65c31.4e55b"]]},{"id":"d0dcb522.cc0f78","type":"mqtt in","z":"98f1c462.0da378","name":"","topic":"MQTTfromMesh","qos":"2","datatype":"auto","broker":"822ecd93.83d82","x":120,"y":600,"wires":[["e474bffc.866ce"]]},{"id":"1ee8ba8d.3e3b25","type":"inject","z":"4e3e6cd6.398944","name":"Inject structure 5 nós","topic":"","payload":"{\"nodeId\":2786666964,\"root\":true,\"subs\":[{\"nodeId\":3958217030,\"subs\":[{\"nodeId\":2785975103,\"subs\":[{\"nodeId\":2785975100}]},{\"nodeId\":3958269898}]}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":420,"wires":[["b8b52942.458828"]]},{"id":"a5e65c31.4e55b","type":"ui_template","z":"98f1c462.0da378","group":"79b637e3.6296a8","name":"tree scheme","order":1,"width":10,"height":1,"format":"\n<style>\t\n\t.node {\n\t\tcursor: pointer;\n\t}\n\n\t.node circle {\n\t  fill: #fff;\n\t  stroke: steelblue;\n\t  stroke-width: 3px;\n\t}\n\n\t.node text {\n\t  font: 12px sans-serif;\n\t  fill: #fff;\n\t}\n\n\t.link {\n\t  fill: none;\n\t  stroke: #ccc;\n\t  stroke-width: 2px;\n\t}\n</style>\n\n<script>\n(function(scope) {\n    console.dir(scope);\n    scope.$watch('msg', function(msg) {\n        console.dir(msg);\n    \n        // clear \n        d3.select(\"#Layout_map_SVG\").remove();\n        \n\t\tvar treeData = msg.payload.treeData;\n\t\tconfig = {\n          data: treeData[0],\n          width : 1920, //svgNode.parentNode.offsetWidth, // Width of the parent container\n          height : 1080, //svgNode.parentNode.offsetHeight, // Height of the parent container\n          dWidth : 180,\n          dHight : 80,\n          margin: { // Margins that we need within our SVG\n            top: 20,\n            right: 120,\n            bottom: 20,\n            left: 120\n          },\n        };\n        \n        // ************** Generate the tree diagram\t *****************\n        var dimentions = computeSvgSizeFromData(config),\n            height = dimentions.height,\n            width = dimentions.width;\n        console.dir(dimentions);\n        \n\t\tvar i = 0,\n\t\t\tduration = 750,\n\t\t\troot;\n\n\t\tvar tree = d3.layout.tree()\n\t\t\t.size([dimentions.height, dimentions.width]);\n\t\t\t\n\t\tvar diagonal = d3.svg.diagonal()\n\t\t\t.projection(function(d) { return [d.y, d.x]; });\n\n\t\tvar svg = d3.select(\"#Layout_map\").append(\"svg\")\n\t\t    .attr(\"id\",\"Layout_map_SVG\")\n\t\t\t.attr(\"width\", dimentions.width + config.margin.right + config.margin.left)\n\t\t\t.attr(\"height\", dimentions.height + config.margin.top + config.margin.bottom)\n\t\t    .append(\"g\")\n\t\t\t.attr(\"transform\", \"translate(\" + config.margin.left + \",\" \n\t\t\t\t\t\t\t\t\t\t\t+ config.margin.top + \")\");\n\n\t\troot = treeData[0];\n\t\troot.x0 = dimentions.height / 2;\n\t\troot.y0 = 0;\n        \n        function toggleAll(d) {\n            if (d.children) {\n                if (d.status == \"lime\") {\n                    d._children = d.children;\n                    d._children.forEach(toggleAll);\n                    d.children = null;\n                }\n            }\n        }\n\n        root.children.forEach(toggleAll);\n        \n\t\tupdate(root);\n\t\t\n\t\td3.select(self.frameElement).style(\"height\", \"500px\");\n\n        function computeSvgSizeFromData(config){\n\n          var tree = d3.layout.tree(),\n            nodes = tree.nodes(config.data);\n        \n          var maxTreeChildrenHeight = {},\n            maxTreeHeight = 0,\n            maxTreeDepth = 0,\n            minSvgWidth,\n            minSvgHeight;\n        \n          // Compute the max tree depth(node which is the lowest leaf) \n          nodes.forEach(function(d) { \n              if(d.depth>maxTreeDepth){\n                  maxTreeDepth = d.depth;\n              }\n        \n              if(!maxTreeChildrenHeight[d.depth]){\n                  maxTreeChildrenHeight[d.depth] = 0;\n              }\n        \n              maxTreeChildrenHeight[d.depth] = maxTreeChildrenHeight[d.depth]+1;\n              maxTreeHeight = maxTreeHeight > maxTreeChildrenHeight[d.depth] ? maxTreeHeight : maxTreeChildrenHeight[d.depth]\n          });\n        \n\n          // Since this is a horizontal tree, compute the width\n          // based upon the depth and the height based upon \n          // the number of nodes at a depth level\n          minSvgWidth = maxTreeDepth*config.dWidth > config.width ? config.width : (maxTreeDepth+1)*config.dWidth;\n          minSvgHeight = maxTreeHeight*config.dHight > config.height ? config.height : (maxTreeHeight+1)*config.dHight;\n        \n          return {\n            width: minSvgWidth,\n            height: minSvgHeight\n          };\n        }\n\n\t\tfunction update(source) {\n\t\t\t\n\t\t  // Compute the new tree layout.\n\t\t  var nodes = tree.nodes(root).reverse(),\n\t\t\t  links = tree.links(nodes);\n            \n\t\t  // Normalize for fixed-depth.\n\t\t  nodes.forEach(function(d) { d.y = d.depth * config.dWidth/*source.dWidth*/; });\n\n          // Update the nodes…          \n\t\t  var node2 = svg.selectAll(\"g.node\")\n\t\t\t  .data(nodes, function(d) { return d.id || (d.id = ++i); });\n\n          // Enter any new nodes at the parent's previous position.\n          \n            var nodeEnter = node2.enter().append(\"g\")\n\t\t\t  .attr(\"class\", \"node\")\n\t\t\t  .attr(\"transform\", function(d) { \n\t\t\t\t  return \"translate(\" + source.y0 + \",\" + source.x0 + \")\"; })\n\t\t\t  .on(\"click\", click);\n\n\t\t  nodeEnter.append(\"circle\")\n\t\t\t  .attr(\"r\", 1e-6)\n\t\t\t  .style(\"fill\", function(d) { return d.status; });\n\n\t\t  nodeEnter.append(\"text\")\n\t\t\t  .attr(\"x\", function(d) { \n\t\t\t\t  return d.children || d._children ? -13 : 13; })\n\t\t\t  .attr(\"dy\", \".35em\")\n\t\t\t  .attr(\"text-anchor\", function(d) { \n\t\t\t\t  return d.children || d._children ? \"end\" : \"start\"; })\n\t\t\t  .text(function(d) { return d.name; })\n\t\t\t  .style(\"fill-opacity\", 1e-6);\n\n          \t\t  \n\t\t  // Transition nodes to their new position.\n\t\t  var nodeUpdate = node2.transition()\n\t\t\t  .duration(duration)\n\t\t\t  .attr(\"transform\", function(d) { \n\t\t\t\t  return \"translate(\" + d.y + \",\" + d.x + \")\"; });\n\n\t\t  nodeUpdate.select(\"circle\")\n\t\t\t  .attr(\"r\", 10)\n\t\t\t  .style(\"fill\", function(d) { return d.status; });\n\n\t\t  nodeUpdate.select(\"text\")\n\t\t\t  .style(\"fill-opacity\", 1);\n\n\t\t  // Transition exiting nodes to the parent's new position.\n\t\t  var nodeExit = node2.exit().transition()\n\t\t\t  .duration(duration)\n\t\t\t  .attr(\"transform\", function(d) { \n\t\t\t\t  return \"translate(\" + source.y + \",\" + source.x + \")\"; })\n\t\t\t  .remove();\n\n\t\t  nodeExit.select(\"circle\")\n\t\t\t  .attr(\"r\", 1e-6);\n\n\t\t  nodeExit.select(\"text\")\n\t\t\t  .style(\"fill-opacity\", 1e-6);\n\n\t\t  // Update the links…\n\t\t  var link = svg.selectAll(\"path.link\")\n\t\t\t  .data(links, function(d) { return d.target.id; });\n\n\t\t  // Enter any new links at the parent's previous position.\n\t\t  link.enter().insert(\"path\", \"g\")\n\t\t\t  .attr(\"class\", \"link\")\n\t\t\t  .attr(\"d\", function(d) {\n\t\t\t\tvar o = {x: source.x0, y: source.y0};\n\t\t\t\treturn diagonal({source: o, target: o});\n\t\t\t  });\n\n\t\t  // Transition links to their new position.\n\t\t  link.transition()\n\t\t\t  .duration(duration)\n\t\t\t  .attr(\"d\", diagonal);\n\n\t\t  // Transition exiting nodes to the parent's new position.\n\t\t  link.exit().transition()\n\t\t\t  .duration(duration)\n\t\t\t  .attr(\"d\", function(d) {\n\t\t\t\tvar o = {x: source.x, y: source.y};\n\t\t\t\treturn diagonal({source: o, target: o});\n\t\t\t  })\n\t\t\t  .remove();\n\n\t\t  // Stash the old positions for transition.\n\t\t  nodes.forEach(function(d) {\n\t\t\td.x0 = d.x;\n\t\t\td.y0 = d.y;\n\t\t  });\n\t\t}\n\t\t\n\t\t// Toggle children on click.\n        function click(d) {\n          if (d.children) {\n        \td._children = d.children;\n        \td.children = null;\n        \td._status = d.status;\n        \td.status = \"lime\";\n          } else {\n        \td.children = d._children;\n        \td._children = null;\n        \tif (typeof d._status !== 'undefined')\n        \t    d.status = d._status;\n          }\n          update(d);\n        }\n        \n\t});\n})(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":610,"y":600,"wires":[[]]},{"id":"b446856c.574c38","type":"modbustcp-read","z":"20c5495a.a69096","d":true,"name":"esp8266ModbusIp","topic":"testeTopic","dataType":"InputRegister","adr":"0","quantity":"15","rate":"10","rateUnit":"s","server":"3e3380e9.cbd7","ieeeType":"off","ieeeBE":true,"x":300,"y":180,"wires":[["2a590fc1.b95d1","320f1ee5.0ecfc2"]]},{"id":"114cdcf9.378053","type":"modbus-server","z":"20c5495a.a69096","d":true,"name":"NameServer","logEnabled":true,"hostname":"0.0.0.0","serverPort":"502","responseDelay":100,"delayUnit":"ms","coilsBufferSize":"15","holdingBufferSize":"15","inputBufferSize":"15","discreteBufferSize":"15","showErrors":true,"x":290,"y":320,"wires":[["d881b6b7.445218"],[],[],[],[]]},{"id":"2a590fc1.b95d1","type":"debug","z":"20c5495a.a69096","name":"debug client","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":520,"y":160,"wires":[]},{"id":"d881b6b7.445218","type":"debug","z":"20c5495a.a69096","name":"debug server","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":300,"wires":[]},{"id":"5e7b11da.b65c2","type":"modbustcp-write","z":"20c5495a.a69096","d":true,"name":"esp modbus write","topic":"topiccc","dataType":"HoldingRegister","adr":"14","server":"7644f6c1.8771f8","x":450,"y":80,"wires":[]},{"id":"7fbacc77.0c2d34","type":"inject","z":"20c5495a.a69096","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":100,"wires":[["5e7b11da.b65c2","64126896.e702e8"]]},{"id":"b8ec014f.79ef5","type":"inject","z":"20c5495a.a69096","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":180,"wires":[["b446856c.574c38"]]},{"id":"64126896.e702e8","type":"modbus-write","z":"20c5495a.a69096","d":true,"name":"nameeee","showStatusActivities":true,"showErrors":true,"unitid":"1","dataType":"HoldingRegister","adr":"14","quantity":"1","server":"c8f57971.2cc528","x":280,"y":400,"wires":[["320f1ee5.0ecfc2"],[]]},{"id":"320f1ee5.0ecfc2","type":"modbus-response","z":"20c5495a.a69096","d":true,"name":"debug response","registerShowMax":20,"x":500,"y":400,"wires":[]},{"id":"9261ec43.b7f5b","type":"inject","z":"20c5495a.a69096","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":380,"wires":[["64126896.e702e8"]]}]